Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wxxs/AerialReport.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" xmlns:om="http://www.opengis.net/om/1.0/gml32" xmlns:avwx="http://www.eurocontrol.int/wxxs/1.1" targetNamespace="http://www.eurocontrol.int/wxxs/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.eurocontrol.int/wx/1.1" schemaLocation="../wx/wx.xsd"/>
    <import namespace="http://www.opengis.net/om/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-128/om/1.0.0_gml32/om.xsd"/>
    <include schemaLocation="icao_annex_3_base.xsd"/>
    <element name="AerialReport" substitutionGroup="avwx:AbstractReport" type="avwx:AerialReportType">
        <annotation>
            <documentation>A report type that includes aerial information, such as pilot reports or reports generated from onboard weather sensors</documentation>
        </annotation>
    </element>
    <complexType name="AerialReportType">
        <complexContent>
            <extension base="avwx:AbstractReportType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="airspaceWxObservation">
                        <complexType>
                            <sequence>
                                <element ref="om:Observation"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="aircraftId" type="gml:CodeWithAuthorityType"/>
                    <element name="airframeId" type="gml:CodeWithAuthorityType"/>
                    <element name="flightId" type="gml:CodeWithAuthorityType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AerialReportPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:AerialReport"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="AIREP" substitutionGroup="avwx:AerialReport" type="avwx:AIREPType">
        <annotation>
            <documentation>An AIREP report
</documentation>
        </annotation>
    </element>
    <complexType name="AIREPType">
        <complexContent>
            <extension base="avwx:AerialReportType"/>
        </complexContent>
    </complexType>
    <complexType name="AIREPPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:AIREP"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="AMDAR" substitutionGroup="avwx:AerialReport" type="avwx:AMDARType">
        <annotation>
            <documentation>An AMDAR report
</documentation>
        </annotation>
    </element>
    <complexType name="AMDARType">
        <complexContent>
            <extension base="avwx:AerialReportType"/>
        </complexContent>
    </complexType>
    <complexType name="AMDARPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:AMDAR"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="UrgentPIREP" substitutionGroup="avwx:AerialPilotReport" type="avwx:UrgentPIREPType">
        <annotation>
            <documentation>An important PIREP report
</documentation>
        </annotation>
    </element>
    <complexType name="UrgentPIREPType">
        <complexContent>
            <extension base="avwx:AerialPilotReportType"/>
        </complexContent>
    </complexType>
    <complexType name="UrgentPIREPPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:UrgentPIREP"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="AerialPilotReport" substitutionGroup="avwx:AerialReport" type="avwx:AerialPilotReportType">
        <annotation>
            <documentation>A meteorological report made by a pilot from an aircraft
</documentation>
        </annotation>
    </element>
    <complexType name="AerialPilotReportType">
        <complexContent>
            <extension base="avwx:AerialReportType">
                <sequence>
                    <element name="relativeTo" type="avwx:StationBearingPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AerialPilotReportPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:AerialPilotReport"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="PIREP" substitutionGroup="avwx:AerialPilotReport" type="avwx:PIREPType">
        <annotation>
            <documentation>A PIREP report
</documentation>
        </annotation>
    </element>
    <complexType name="PIREPType">
        <complexContent>
            <extension base="avwx:AerialPilotReportType"/>
        </complexContent>
    </complexType>
    <complexType name="PIREPPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:PIREP"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="StationBearing" substitutionGroup="gml:AbstractGML" type="avwx:StationBearingType">
        <annotation>
            <documentation>The bearing from a location to a station
</documentation>
        </annotation>
    </element>
    <complexType name="StationBearingType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="bearing" type="wx:BearingPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="distance" type="gml:LengthType"/>
                    <element name="stationId" type="gml:CodeWithAuthorityType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="StationBearingPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:StationBearing"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="MDCR" substitutionGroup="avwx:AerialReport" type="avwx:MDCRType">
        <annotation>
            <documentation>A MDCR report
</documentation>
        </annotation>
    </element>
    <complexType name="MDCRType">
        <complexContent>
            <extension base="avwx:AerialReportType"/>
        </complexContent>
    </complexType>
    <complexType name="MDCRPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:MDCR"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>