Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wxxs/AreaReport.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" xmlns:avwx="http://www.eurocontrol.int/wxxs/1.1" targetNamespace="http://www.eurocontrol.int/wxxs/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.eurocontrol.int/wx/1.1" schemaLocation="../wx/wx.xsd"/>
    <include schemaLocation="icao_annex_3_base.xsd"/>
    <include schemaLocation="wx_features.xsd"/>
    <element name="AreaReport" substitutionGroup="avwx:AbstractReport" type="avwx:AreaReportType">
        <annotation>
            <documentation>A report type that includes information related to a region rather than a single point.  
</documentation>
        </annotation>
    </element>
    <complexType name="AreaReportType">
        <complexContent>
            <extension base="avwx:AbstractReportType">
                <sequence>
                    <element name="airspaceAreaForecast">
                        <complexType>
                            <sequence>
                                <element ref="wx:Forecast"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="stationId" type="gml:CodeWithAuthorityType"/>
                    <element name="intensityChanges" type="wx:IntensityChangeType"/>
                    <element maxOccurs="1" minOccurs="0" name="cancellation" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="identification" type="string"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="issuedFor" type="avwx:AirspacePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AreaReportPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:AreaReport"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="AIRMET" substitutionGroup="avwx:AreaReport" type="avwx:AIRMETType">
        <annotation>
            <documentation>An AIRMET report
</documentation>
        </annotation>
    </element>
    <complexType name="AIRMETType">
        <complexContent>
            <extension base="avwx:AreaReportType"/>
        </complexContent>
    </complexType>
    <complexType name="AIRMETPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:AIRMET"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="G-SIGMET" substitutionGroup="avwx:AreaReport" type="avwx:G-SIGMETType">
        <annotation>
            <documentation>A graphical SIGMET report
</documentation>
        </annotation>
    </element>
    <complexType name="G-SIGMETType">
        <complexContent>
            <extension base="avwx:AreaReportType"/>
        </complexContent>
    </complexType>
    <complexType name="G-SIGMETPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:G-SIGMET"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="CCFP" substitutionGroup="avwx:AreaReport" type="avwx:CCFPType">
        <annotation>
            <documentation>A CCFP convective forecast report
</documentation>
        </annotation>
    </element>
    <complexType name="CCFPType">
        <complexContent>
            <extension base="avwx:AreaReportType"/>
        </complexContent>
    </complexType>
    <complexType name="CCFPPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:CCFP"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="SIGMET" substitutionGroup="avwx:AreaReport" type="avwx:SIGMETType">
        <annotation>
            <documentation>A SIGMET report
</documentation>
        </annotation>
    </element>
    <complexType name="SIGMETType">
        <complexContent>
            <extension base="avwx:AreaReportType"/>
        </complexContent>
    </complexType>
    <complexType name="SIGMETPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:SIGMET"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="G-AIRMET" substitutionGroup="avwx:AreaReport" type="avwx:G-AIRMETType">
        <annotation>
            <documentation>A graphical AIRMET report
</documentation>
        </annotation>
    </element>
    <complexType name="G-AIRMETType">
        <complexContent>
            <extension base="avwx:AreaReportType"/>
        </complexContent>
    </complexType>
    <complexType name="G-AIRMETPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:G-AIRMET"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>