Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wxxs/icao_annex_3_local_report.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" xmlns:om="http://www.opengis.net/om/1.0/gml32" xmlns:avwx="http://www.eurocontrol.int/wxxs/1.1" targetNamespace="http://www.eurocontrol.int/wxxs/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.opengis.net/om/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-128/om/1.0.0_gml32/om.xsd"/>
    <import namespace="http://www.eurocontrol.int/wx/1.1" schemaLocation="../wx/wx.xsd"/>
    <include schemaLocation="icao_annex_3_base.xsd"/>
    <element name="LocalReport" substitutionGroup="avwx:AbstractReport" type="avwx:LocalReportType">
        <annotation>
            <documentation>Local report message; routine or special as indicated by 'type'.</documentation>
        </annotation>
    </element>
    <complexType name="LocalReportType">
        <complexContent>
            <extension base="avwx:AbstractReportType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="appliesTo">
                        <complexType>
                            <sequence>
                                <element ref="avwx:Aerodrome"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="observation">
                        <complexType>
                            <sequence>
                                <element ref="om:Observation"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="runwayAreaObservation">
                        <complexType>
                            <sequence>
                                <element ref="om:Observation"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="trendForecast">
                        <complexType>
                            <sequence>
                                <element ref="avwx:TREND"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="type" type="avwx:LocalReportTypesType"/>
                    <element name="observationTime" type="dateTime"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="LocalReportPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:LocalReport"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="LocalReportTypesType">
        <restriction base="string">
            <enumeration value="MET REPORT"/>
            <enumeration value="SPECIAL"/>
        </restriction>
    </simpleType>
</schema>