Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wxxs/SurfaceForecastReport.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" xmlns:avwx="http://www.eurocontrol.int/wxxs/1.1" targetNamespace="http://www.eurocontrol.int/wxxs/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.eurocontrol.int/wx/1.1" schemaLocation="../wx/wx.xsd"/>
    <include schemaLocation="icao_annex_3_base.xsd"/>
    <element name="SurfaceForecastReport" substitutionGroup="avwx:AbstractReport" type="avwx:SurfaceForecastReportType">
        <annotation>
            <documentation>A report type that includes surface forecasting information</documentation>
        </annotation>
    </element>
    <complexType name="SurfaceForecastReportType">
        <complexContent>
            <extension base="avwx:AbstractReportType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="aerodromeWxForecast">
                        <complexType>
                            <sequence>
                                <element ref="wx:Forecast"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="appliesTo">
                        <complexType>
                            <sequence>
                                <element ref="avwx:Aerodrome"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="stationId" type="gml:CodeWithAuthorityType"/>
                    <element maxOccurs="1" minOccurs="0" name="cancellation" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="forecastMissing" type="boolean"/>
                    <element maxOccurs="1" minOccurs="0" name="issueTime" type="dateTime"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SurfaceForecastReportPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:SurfaceForecastReport"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="TAF" substitutionGroup="avwx:SurfaceForecastReport" type="avwx:TAFType">
        <annotation>
            <documentation>Terminal area forecast (TAF) message.
</documentation>
        </annotation>
    </element>
    <complexType name="TAFType">
        <complexContent>
            <extension base="avwx:SurfaceForecastReportType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="type" type="avwx:TAFReportTypesType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TAFPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:TAF"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="TAFReportTypesType">
        <restriction base="string">
            <enumeration value="TAF COR">
                <annotation>
                    <documentation>Terminal Area Forecast correction.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="TAF">
                <annotation>
                    <documentation>Terminal Area Forecast.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="TAF AMD">
                <annotation>
                    <documentation>Terminal Area Forecast amendment.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
</schema>