Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wxxs/wx_phenom_wind.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" xmlns:avwx="http://www.eurocontrol.int/wxxs/1.1" targetNamespace="http://www.eurocontrol.int/wxxs/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.eurocontrol.int/wx/1.1" schemaLocation="../wx/wx.xsd"/>
    <element name="WindLayer" substitutionGroup="wx:VerticallyBoundedPhenomenon" type="avwx:WindLayerType"/>
    <complexType name="WindLayerType">
        <complexContent>
            <extension base="wx:VerticallyBoundedPhenomenonType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="direction">
                        <complexType>
                            <sequence>
                                <element ref="wx:WindDirection"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="directionVariesFrom">
                        <complexType>
                            <sequence>
                                <element ref="wx:WindDirection"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="directionVariesTo">
                        <complexType>
                            <sequence>
                                <element ref="wx:WindDirection"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="height">
                        <complexType>
                            <sequence>
                                <element ref="wx:Distance"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="position">
                        <complexType>
                            <sequence>
                                <element ref="gml:Point"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="speed">
                        <complexType>
                            <sequence>
                                <element ref="wx:WindSpeed"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="speedVariesFrom">
                        <complexType>
                            <sequence>
                                <element ref="wx:WindSpeed"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="speedVariesTo">
                        <complexType>
                            <sequence>
                                <element ref="wx:WindSpeed"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WindLayerPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:WindLayer"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>