Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wxxs/wx_phenom_volcanic.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" xmlns:avwx="http://www.eurocontrol.int/wxxs/1.1" targetNamespace="http://www.eurocontrol.int/wxxs/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.eurocontrol.int/wx/1.1" schemaLocation="../wx/wx.xsd"/>
    <include schemaLocation="wx_features.xsd"/>
    <element name="VolcanicAshCloud" substitutionGroup="wx:VerticallyBoundedPhenomenon" type="avwx:VolcanicAshCloudType">
        <annotation>
            <documentation>Volcanic ash cloud.</documentation>
        </annotation>
    </element>
    <complexType name="VolcanicAshCloudType">
        <complexContent>
            <extension base="wx:VerticallyBoundedPhenomenonType"/>
        </complexContent>
    </complexType>
    <complexType name="VolcanicAshCloudPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:VolcanicAshCloud"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="VolcanicActivity" substitutionGroup="wx:AbstractPhenomenon" type="avwx:VolcanicActivityType">
        <annotation>
            <documentation>Volcanic activity.
</documentation>
        </annotation>
    </element>
    <complexType name="VolcanicActivityType">
        <complexContent>
            <extension base="wx:AbstractPhenomenonType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="movement">
                        <complexType>
                            <sequence>
                                <element ref="wx:MovementDescription"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="volcano">
                        <complexType>
                            <sequence>
                                <element ref="avwx:Volcano"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="eruption" type="boolean"/>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="VolcanicActivityPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:VolcanicActivity"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>