Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wxxs/wx_phenom_hazards.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" xmlns:avwx="http://www.eurocontrol.int/wxxs/1.1" targetNamespace="http://www.eurocontrol.int/wxxs/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
        <appinfo>
            <sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                <sch:title>Schematron constraints for "WX_Phenom_Hazards"</sch:title>
                <sch:ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
                <sch:ns prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
                <sch:ns prefix="avwx" uri="http://www.eurocontrol.int/wxxs/1.1"/>
                <sch:ns prefix="wx" uri="http://www.eurocontrol.int/wx/1.1"/>
                <sch:pattern name="Properties for Convection">
                    <sch:rule context="//avwx:Convection">
                        <sch:assert test="avwx:movement/wx:MovementDescription or (empty(avwx:movement/*) and avwx:movement/@xlink:href)">movement must contain either MovementDescription or nothing (and carry an xlink:href instead)</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </sch:schema>
        </appinfo>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.eurocontrol.int/wx/1.1" schemaLocation="../wx/wx.xsd"/>
    <element name="MountainObscuration" substitutionGroup="wx:AbstractPhenomenon" type="avwx:MountainObscurationType"/>
    <complexType name="MountainObscurationType">
        <complexContent>
            <extension base="wx:AbstractPhenomenonType"/>
        </complexContent>
    </complexType>
    <complexType name="MountainObscurationPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:MountainObscuration"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="IFR" substitutionGroup="wx:AbstractPhenomenon" type="avwx:IFRType"/>
    <complexType name="IFRType">
        <complexContent>
            <extension base="wx:AbstractPhenomenonType"/>
        </complexContent>
    </complexType>
    <complexType name="IFRPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:IFR"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Icing" substitutionGroup="wx:VerticallyBoundedPhenomenon" type="avwx:IcingType"/>
    <complexType name="IcingType">
        <complexContent>
            <extension base="wx:VerticallyBoundedPhenomenonType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="type" type="avwx:IcingTypesType"/>
                    <element maxOccurs="1" minOccurs="0" name="accretionRate" type="decimal"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="IcingPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:Icing"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="MountainWave" substitutionGroup="wx:AbstractPhenomenon" type="avwx:MountainWaveType"/>
    <complexType name="MountainWaveType">
        <complexContent>
            <extension base="wx:AbstractPhenomenonType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="downdraft" type="gml:SpeedType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MountainWavePropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:MountainWave"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="WindShear" substitutionGroup="wx:VerticallyBoundedPhenomenon" type="avwx:WindShearType"/>
    <complexType name="WindShearType">
        <complexContent>
            <extension base="wx:VerticallyBoundedPhenomenonType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="level">
                        <complexType>
                            <sequence>
                                <element ref="wx:Distance"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WindShearPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:WindShear"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Turbulence" substitutionGroup="wx:VerticallyBoundedPhenomenon" type="avwx:TurbulenceType"/>
    <complexType name="TurbulenceType">
        <complexContent>
            <extension base="wx:VerticallyBoundedPhenomenonType">
                <sequence>
                    <element name="edr" type="decimal"/>
                    <element maxOccurs="1" minOccurs="0" name="type" type="avwx:TurbulenceTypesType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TurbulencePropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:Turbulence"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Convection" substitutionGroup="wx:VerticallyBoundedPhenomenon" type="avwx:ConvectionType"/>
    <complexType name="ConvectionType">
        <annotation>
            <documentation>The following properties inherited from parent classes are overridden in Schematron assertions:

association: movement</documentation>
        </annotation>
        <complexContent>
            <extension base="wx:VerticallyBoundedPhenomenonType">
                <sequence>
                    <element name="growth" type="wx:GrowthType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ConvectionPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:Convection"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="IcingTypesType">
        <restriction base="string">
            <enumeration value="RIME"/>
            <enumeration value="CLEAR"/>
            <enumeration value="MIXED"/>
        </restriction>
    </simpleType>
    <simpleType name="TurbulenceTypesType">
        <restriction base="string">
            <enumeration value="CAT">
                <annotation>
                    <documentation>Clear Air Turbulence</documentation>
                </annotation>
            </enumeration>
            <enumeration value="CHOP"/>
        </restriction>
    </simpleType>
</schema>