Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wxxs/wx_phenom_tropicalcyclone.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" xmlns:avwx="http://www.eurocontrol.int/wxxs/1.1" targetNamespace="http://www.eurocontrol.int/wxxs/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.eurocontrol.int/wx/1.1" schemaLocation="../wx/wx.xsd"/>
    <element name="TropicalCyclone" substitutionGroup="wx:AbstractPhenomenon" type="avwx:TropicalCycloneType"/>
    <complexType name="TropicalCycloneType">
        <complexContent>
            <extension base="wx:AbstractPhenomenonType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="centralPressure">
                        <complexType>
                            <sequence>
                                <element ref="wx:Pressure"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="maxSurfaceWindSpeed">
                        <complexType>
                            <sequence>
                                <element ref="wx:WindSpeed"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="centre" type="gml:DirectPositionType"/>
                    <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TropicalCyclonePropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:TropicalCyclone"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="WX_Phenom_TropicalCyclone" substitutionGroup="gml:AbstractGML" type="avwx:WX_Phenom_TropicalCycloneType"/>
    <complexType name="WX_Phenom_TropicalCycloneType">
        <complexContent>
            <extension base="gml:AbstractGMLType"/>
        </complexContent>
    </complexType>
    <complexType name="WX_Phenom_TropicalCyclonePropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:WX_Phenom_TropicalCyclone"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>