Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wx/measures.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" targetNamespace="http://www.eurocontrol.int/wx/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <include schemaLocation="Units.xsd"/>
    <element abstract="true" name="AbstractMeasure" substitutionGroup="gml:AbstractFeature" type="wx:AbstractMeasureType"/>
    <complexType abstract="true" name="AbstractMeasureType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="value" type="double"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractMeasurePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:AbstractMeasure"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Distance" substitutionGroup="wx:AbstractMeasure" type="wx:DistanceType">
        <annotation>
            <documentation>Generic distance class.</documentation>
        </annotation>
    </element>
    <complexType name="DistanceType">
        <complexContent>
            <extension base="wx:AbstractMeasureType">
                <sequence>
                    <element name="uom" type="wx:UomDistanceType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DistancePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:Distance"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Speed" substitutionGroup="wx:AbstractMeasure" type="wx:SpeedType">
        <annotation>
            <documentation>Generic speed class.</documentation>
        </annotation>
    </element>
    <complexType name="SpeedType">
        <complexContent>
            <extension base="wx:AbstractMeasureType">
                <sequence>
                    <element name="uom" type="wx:UomSpeedType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SpeedPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:Speed"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Bearing" substitutionGroup="wx:Angle" type="wx:BearingType">
        <annotation>
            <documentation>Bearing is an angle restricted to the range 0-360 degrees.</documentation>
        </annotation>
    </element>
    <complexType name="BearingType">
        <complexContent>
            <extension base="wx:AngleType">
                <sequence>
                    <element name="maxInclusive" type="integer"/>
                    <element name="minInclusive" type="integer"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="BearingPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:Bearing"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Percentage" substitutionGroup="wx:AbstractMeasure" type="wx:PercentageType">
        <annotation>
            <documentation>Generic percentage class; value is limited to between 0 and 100 inclusive.</documentation>
        </annotation>
    </element>
    <complexType name="PercentageType">
        <complexContent>
            <extension base="wx:AbstractMeasureType">
                <sequence>
                    <element name="maxInclusive" type="integer"/>
                    <element name="minInclusive" type="integer"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PercentagePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:Percentage"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Temperature" substitutionGroup="wx:AbstractMeasure" type="wx:TemperatureType">
        <annotation>
            <documentation>Generic temperature class.</documentation>
        </annotation>
    </element>
    <complexType name="TemperatureType">
        <complexContent>
            <extension base="wx:AbstractMeasureType">
                <sequence>
                    <element name="uom" type="wx:UomTemperatureType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TemperaturePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:Temperature"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Angle" substitutionGroup="wx:AbstractMeasure" type="wx:AngleType">
        <annotation>
            <documentation>Generic angle class.</documentation>
        </annotation>
    </element>
    <complexType name="AngleType">
        <complexContent>
            <extension base="wx:AbstractMeasureType">
                <sequence>
                    <element name="uom" type="wx:UomAngleType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AnglePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:Angle"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Luminance" substitutionGroup="wx:AbstractMeasure" type="wx:LuminanceType">
        <annotation>
            <documentation>Density of luminous intenstity.</documentation>
        </annotation>
    </element>
    <complexType name="LuminanceType">
        <complexContent>
            <extension base="wx:AbstractMeasureType">
                <sequence>
                    <element name="uom" type="wx:UomLuminanceType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="LuminancePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:Luminance"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Pressure" substitutionGroup="wx:AbstractMeasure" type="wx:PressureType">
        <annotation>
            <documentation>Generic pressure class.</documentation>
        </annotation>
    </element>
    <complexType name="PressureType">
        <complexContent>
            <extension base="wx:AbstractMeasureType">
                <sequence>
                    <element name="uom" type="wx:UomPressureType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PressurePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:Pressure"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>