Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wx/Units.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" targetNamespace="http://www.eurocontrol.int/wx/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <simpleType name="UomDistanceType">
        <restriction base="string">
            <enumeration value="SM"/>
            <enumeration value="NM"/>
            <enumeration value="mm"/>
            <enumeration value="m"/>
            <enumeration value="km"/>
            <enumeration value="ft"/>
            <enumeration value="cm"/>
            <enumeration value="FL"/>
        </restriction>
    </simpleType>
    <simpleType name="UomAngleType">
        <restriction base="string">
            <enumeration value="rad">
                <annotation>
                    <documentation>Radian.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="deg">
                <annotation>
                    <documentation>Degree.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="arcminute">
                <annotation>
                    <documentation>Arcminute.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="arcsecond">
                <annotation>
                    <documentation>Arcsecond.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="UomTemperatureType">
        <restriction base="string">
            <enumeration value="K"/>
            <enumeration value="C"/>
            <enumeration value="F"/>
        </restriction>
    </simpleType>
    <simpleType name="UomLuminanceType">
        <restriction base="string">
            <enumeration value="nit">
                <annotation>
                    <documentation>nit = candela per square metre.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="stilb">
                <annotation>
                    <documentation>1 stilb = 1 candela per square cm.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="UomDepthType">
        <restriction base="string">
            <enumeration value="ft">
                <annotation>
                    <documentation>Foot.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="m">
                <annotation>
                    <documentation>Metre.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="mm">
                <annotation>
                    <documentation>Millimetre.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="cm">
                <annotation>
                    <documentation>Centimetre.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="UomSpeedType">
        <restriction base="string">
            <enumeration value="m/s">
                <annotation>
                    <documentation>Metres per second.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="mph">
                <annotation>
                    <documentation>Miles per hour.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="km/h">
                <annotation>
                    <documentation>Kilometres per hour.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="kt">
                <annotation>
                    <documentation>Knots.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="UomVerticalDistanceType">
        <restriction base="string">
            <enumeration value="ft">
                <annotation>
                    <documentation>Foot.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="FL">
                <annotation>
                    <documentation>Flight level.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="m">
                <annotation>
                    <documentation>Metre.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="UomHorizontalDistanceType">
        <restriction base="string">
            <enumeration value="SM">
                <annotation>
                    <documentation>Statute mile.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="NM">
                <annotation>
                    <documentation>Nautical mile.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="m">
                <annotation>
                    <documentation>Metre.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="ft">
                <annotation>
                    <documentation>Foot.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="km">
                <annotation>
                    <documentation>Kilometre.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="UomPressureType">
        <restriction base="string">
            <enumeration value="inHg">
                <annotation>
                    <documentation>Inches of mercury</documentation>
                </annotation>
            </enumeration>
            <enumeration value="mBar">
                <annotation>
                    <documentation>Millibar.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="torr">
                <annotation>
                    <documentation>Torr.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="psi">
                <annotation>
                    <documentation>Pounds per square inch.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="Pa">
                <annotation>
                    <documentation>Pascal.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="hPa">
                <annotation>
                    <documentation>Hectopascal.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="atm">
                <annotation>
                    <documentation>Atmosphere.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="bar">
                <annotation>
                    <documentation>Bar.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
</schema>