Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wx/wx_measures.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:wx="http://www.eurocontrol.int/wx/1.1" targetNamespace="http://www.eurocontrol.int/wx/1.1"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
        <appinfo>
            <sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                <sch:title>Schematron constraints for "WX_Measures"</sch:title>
                <sch:ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
                <sch:ns prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
                <sch:ns prefix="wx" uri="http://www.eurocontrol.int/wx/1.1"/>
                <sch:pattern name="Properties for Depth">
                    <sch:rule context="//wx:Depth">
                        <sch:assert
                            test="wx:uom/text() = 'mm' or wx:uom/text() = 'cm' or wx:uom/text() = 'm' or wx:uom/text() = 'ft'"
                            >uom must contain a member of UomDepth</sch:assert>
                    </sch:rule>
                    <sch:rule context="//wx:VerticalDistance">
                        <sch:assert
                            test="wx:uom/text() = 'FL' or wx:uom/text() = 'm' or wx:uom/text() = 'ft'"
                            >uom must contain a member of UomVerticalDistance</sch:assert>
                    </sch:rule>
                    <sch:rule context="//wx:HorizontalDistance">
                        <sch:assert
                            test="wx:uom/text() = 'ft' or wx:uom/text() = 'km' or wx:uom/text() = 'm' or wx:uom/text() = 'NM' or wx:uom/text() = 'SM'"
                            >uom must contain a member of UomHorizontalDistance</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </sch:schema>
        </appinfo>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2"
        schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <include schemaLocation="measures.xsd"/>
    <element name="Depth" substitutionGroup="wx:VerticalDistance" type="wx:DepthType"/>
    <complexType name="DepthType">
        <annotation>
            <documentation>The following properties inherited from parent classes are overridden in
                Schematron assertions: association: uom</documentation>
        </annotation>
        <complexContent>
            <extension base="wx:VerticalDistanceType"/>
        </complexContent>
    </complexType>
    <complexType name="DepthPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:Depth"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="VerticalDistance" substitutionGroup="wx:Distance" type="wx:VerticalDistanceType">
        <annotation>
            <documentation>Vertical distance.</documentation>
        </annotation>
    </element>
    <complexType name="VerticalDistanceType">
        <annotation>
            <documentation>The following properties inherited from parent classes are overridden in
                Schematron assertions: association: uom</documentation>
        </annotation>
        <complexContent>
            <extension base="wx:DistanceType"/>
        </complexContent>
    </complexType>
    <complexType name="VerticalDistancePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:VerticalDistance"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="WindDirection" substitutionGroup="wx:Bearing" type="wx:WindDirectionType">
        <annotation>
            <documentation>WindDirection is a Bearing expressed as an integer.</documentation>
        </annotation>
    </element>
    <complexType name="WindDirectionType">
        <complexContent>
            <extension base="wx:BearingType"/>
        </complexContent>
    </complexType>
    <complexType name="WindDirectionPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:WindDirection"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="HorizontalDistance" substitutionGroup="wx:Distance"
        type="wx:HorizontalDistanceType"/>
    <complexType name="HorizontalDistanceType">
        <annotation>
            <documentation>The following properties inherited from parent classes are overridden in
                Schematron assertions: association: uom</documentation>
        </annotation>
        <complexContent>
            <extension base="wx:DistanceType"/>
        </complexContent>
    </complexType>
    <complexType name="HorizontalDistancePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:HorizontalDistance"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="AirTemperature" substitutionGroup="wx:Temperature" type="wx:AirTemperatureType"/>
    <complexType name="AirTemperatureType">
        <complexContent>
            <extension base="wx:TemperatureType"/>
        </complexContent>
    </complexType>
    <complexType name="AirTemperaturePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:AirTemperature"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="QPressure" substitutionGroup="wx:Pressure" type="wx:QPressureType">
        <annotation>
            <documentation>Restricts Pressure to an integer value between 500 and 1100
                (inclusive).</documentation>
        </annotation>
    </element>
    <complexType name="QPressureType">
        <complexContent>
            <extension base="wx:PressureType"/>
        </complexContent>
    </complexType>
    <complexType name="QPressurePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:QPressure"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="HorizontalVisibilityDistance" substitutionGroup="wx:HorizontalDistance"
        type="wx:HorizontalVisibilityDistanceType">
        <annotation>
            <documentation>Restricts HorizontalDistance to an integer value greater than or equal to
                zero.</documentation>
        </annotation>
    </element>
    <complexType name="HorizontalVisibilityDistanceType">
        <complexContent>
            <extension base="wx:HorizontalDistanceType"/>
        </complexContent>
    </complexType>
    <complexType name="HorizontalVisibilityDistancePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:HorizontalVisibilityDistance"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="WindGust" substitutionGroup="wx:Speed" type="wx:WindGustType"/>
    <complexType name="WindGustType">
        <complexContent>
            <extension base="wx:SpeedType"/>
        </complexContent>
    </complexType>
    <complexType name="WindGustPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:WindGust"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="CloudHeight" substitutionGroup="wx:VerticalDistance" type="wx:CloudHeightType"/>
    <complexType name="CloudHeightType">
        <complexContent>
            <extension base="wx:VerticalDistanceType"/>
        </complexContent>
    </complexType>
    <complexType name="CloudHeightPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:CloudHeight"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="VerticalVisibilityDistance" substitutionGroup="wx:VerticalDistance"
        type="wx:VerticalVisibilityDistanceType">
        <annotation>
            <documentation>Restricts VerticalDistance to an integer value greater than or equal to
                zero.</documentation>
        </annotation>
    </element>
    <complexType name="VerticalVisibilityDistanceType">
        <complexContent>
            <extension base="wx:VerticalDistanceType"/>
        </complexContent>
    </complexType>
    <complexType name="VerticalVisibilityDistancePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:VerticalVisibilityDistance"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="WindSpeed" substitutionGroup="wx:Speed" type="wx:WindSpeedType">
        <annotation>
            <documentation>Restriction of Speed to an integer value greater than or equal to
                one.</documentation>
        </annotation>
    </element>
    <complexType name="WindSpeedType">
        <complexContent>
            <extension base="wx:SpeedType"/>
        </complexContent>
    </complexType>
    <complexType name="WindSpeedPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:WindSpeed"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="RVRDistance" substitutionGroup="wx:HorizontalDistance" type="wx:RVRDistanceType">
        <annotation>
            <documentation>Restricts HorizontalDistance to an integer value greater than or equal to
                zero.</documentation>
        </annotation>
    </element>
    <complexType name="RVRDistanceType">
        <complexContent>
            <extension base="wx:HorizontalDistanceType"/>
        </complexContent>
    </complexType>
    <complexType name="RVRDistancePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:RVRDistance"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>
