Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wx/wxBase.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:wx="http://www.eurocontrol.int/wx/1.1" targetNamespace="http://www.eurocontrol.int/wx/1.1"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation> Example of a weather schema that builds upon a GML 3.2 base </documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2"
        schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <include schemaLocation="wxPhenomBase.xsd"/>
    <include schemaLocation="wxDataTypes.xsd"/>
    <element name="timePositionList" substitutionGroup="gml:AbstractFeature"
        type="wx:timePositionListType">
        <annotation>
            <documentation>By direct analogy with gml:timePosition, creates a list version of the
                same (see GML 3.2, sect 15.2.2.7).</documentation>
        </annotation>
    </element>
    <complexType name="timePositionListType">
        <complexContent>
            <extension base="gml:AbstractFeatureType"/>
        </complexContent>
    </complexType>
    <complexType name="timePositionListPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:timePositionList"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element abstract="true" name="AbstractWxFeature" substitutionGroup="gml:AbstractFeature"
        type="wx:AbstractWxFeatureType"/>
    <complexType abstract="true" name="AbstractWxFeatureType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="associatedFeature" type="gml:FeaturePropertyType"/>
                    <element name="changeIndicator" type="wx:ForecastChangeIndicatorType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="phenomenon">
                        <complexType>
                            <sequence>
                                <element ref="wx:AbstractPhenomenon"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractWxFeaturePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:AbstractWxFeature"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <group name="ExtentOf">
        <choice/>
    </group>
    <complexType name="ExtentOfPropertyType">
        <sequence minOccurs="0">
            <group ref="wx:ExtentOf"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attribute name="unionSemantics" type="wx:ExtentOfUnionSemantics"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="ExtentOfUnionSemantics">
        <restriction base="string"/>
    </simpleType>
</schema>
