Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wx/wxCloud.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" targetNamespace="http://www.eurocontrol.int/wx/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <include schemaLocation="wxPhenomBase.xsd"/>
    <element name="Shower" substitutionGroup="wx:AbstractPhenomenon" type="wx:ShowerType"/>
    <complexType name="ShowerType">
        <complexContent>
            <extension base="wx:AbstractPhenomenonType">
                <sequence>
                    <element name="contains" type="wx:PrecipitationPropertyType"/>
                    <element name="embedded" type="boolean"/>
                    <element name="obscured" type="boolean"/>
                    <element name="widespread" type="boolean"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ShowerPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:Shower"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Hydrometeor" substitutionGroup="wx:AbstractPhenomenon" type="wx:HydrometeorType"/>
    <complexType name="HydrometeorType">
        <complexContent>
            <extension base="wx:AbstractPhenomenonType">
                <sequence>
                    <element name="type" type="wx:HydrometeorTypesType"/>
                    <element name="isFreezing" type="boolean"/>
                    <element name="partial" type="boolean"/>
                    <element name="patchy" type="boolean"/>
                    <element name="shallow" type="boolean"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="HydrometeorPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:Hydrometeor"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="RadioactiveCloud" substitutionGroup="wx:VerticallyBoundedPhenomenon" type="wx:RadioactiveCloudType"/>
    <complexType name="RadioactiveCloudType">
        <complexContent>
            <extension base="wx:VerticallyBoundedPhenomenonType"/>
        </complexContent>
    </complexType>
    <complexType name="RadioactiveCloudPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:RadioactiveCloud"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Thunderstorm" substitutionGroup="wx:VerticallyBoundedPhenomenon" type="wx:ThunderstormType"/>
    <complexType name="ThunderstormType">
        <complexContent>
            <extension base="wx:VerticallyBoundedPhenomenonType">
                <sequence>
                    <element name="contains" type="wx:PrecipitationPropertyType"/>
                    <element name="obscured" type="boolean"/>
                    <element name="embedded" type="boolean"/>
                    <element name="widespread" type="boolean"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ThunderstormPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:Thunderstorm"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Precipitation" substitutionGroup="wx:AbstractPhenomenon" type="wx:PrecipitationType"/>
    <complexType name="PrecipitationType">
        <complexContent>
            <extension base="wx:AbstractPhenomenonType">
                <sequence>
                    <element name="type" type="wx:PrecipitationTypesType"/>
                    <element name="isFreezing" type="boolean"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PrecipitationPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:Precipitation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Lithometeor" substitutionGroup="wx:AbstractPhenomenon" type="wx:LithometeorType"/>
    <complexType name="LithometeorType">
        <complexContent>
            <extension base="wx:AbstractPhenomenonType">
                <sequence>
                    <element name="isBlowing" type="boolean"/>
                    <element name="isLowDrifting" type="boolean"/>
                    <element name="type" type="wx:ObscurationTypesType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="LithometeorPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:Lithometeor"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="CloudCondition" substitutionGroup="wx:VerticallyBoundedPhenomenon" type="wx:CloudConditionType"/>
    <complexType name="CloudConditionType">
        <complexContent>
            <extension base="wx:VerticallyBoundedPhenomenonType">
                <sequence>
                    <element name="cloudAmount" type="wx:CloudAmountType"/>
                    <element name="cloudType" type="wx:CloudTypesType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CloudConditionPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:CloudCondition"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="CloudAmountType">
        <restriction base="string">
            <enumeration value="SCATTERED-BROKEN"/>
            <enumeration value="OVERCAST"/>
            <enumeration value="BROKEN"/>
            <enumeration value="SCATTERED"/>
            <enumeration value="CLEAR"/>
            <enumeration value="FEW"/>
        </restriction>
    </simpleType>
    <simpleType name="HydrometeorTypesType">
        <restriction base="string">
            <enumeration value="UNIDENTIFIED"/>
            <enumeration value="FOG"/>
            <enumeration value="MIST"/>
        </restriction>
    </simpleType>
    <simpleType name="CloudTypesType">
        <restriction base="string">
            <enumeration value="ALTOCUMULUS"/>
            <enumeration value="OTHER"/>
            <enumeration value="TOWERING CUMULUS"/>
            <enumeration value="STRATUS"/>
            <enumeration value="STRATOCUMULUS"/>
            <enumeration value="NIMBOSTRATUS"/>
            <enumeration value="CUMULUS"/>
            <enumeration value="CUMULONIMBUS"/>
            <enumeration value="CIRRUS"/>
            <enumeration value="CIRROSTRATUS"/>
            <enumeration value="ALTOSTRATUS"/>
            <enumeration value="CIRROCUMULUS"/>
        </restriction>
    </simpleType>
</schema>