Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wx/wxCoverage.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" targetNamespace="http://www.eurocontrol.int/wx/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <include schemaLocation="wxBase.xsd"/>
    <element name="PointDomain" substitutionGroup="wx:AbstractCoverageDomain" type="wx:PointDomainType"/>
    <complexType name="PointDomainType">
        <complexContent>
            <extension base="wx:AbstractCoverageDomainType">
                <sequence>
                    <element name="time">
                        <complexType>
                            <sequence>
                                <element ref="gml:TimeInstant"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="location" type="gml:DirectPositionType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PointDomainPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:PointDomain"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="PointTimeSeriesDomain" substitutionGroup="wx:AbstractCoverageDomain" type="wx:PointTimeSeriesDomainType"/>
    <complexType name="PointTimeSeriesDomainType">
        <complexContent>
            <extension base="wx:AbstractCoverageDomainType">
                <sequence>
                    <element name="timePositionList">
                        <complexType>
                            <sequence>
                                <element ref="wx:timePositionList"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="location" type="gml:DirectPositionType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PointTimeSeriesDomainPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:PointTimeSeriesDomain"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="PointCollectionDomain" substitutionGroup="wx:AbstractCoverageDomain" type="wx:PointCollectionDomainType"/>
    <complexType name="PointCollectionDomainType">
        <complexContent>
            <extension base="wx:AbstractCoverageDomainType">
                <sequence>
                    <element name="time">
                        <complexType>
                            <sequence>
                                <element ref="gml:TimeInstant"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="locationList" type="gml:ReferenceType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PointCollectionDomainPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:PointCollectionDomain"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="MultiPoint" substitutionGroup="gml:AbstractFeature" type="wx:MultiPointType"/>
    <complexType name="MultiPointType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="positions" type="gml:ReferenceType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MultiPointPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:MultiPoint"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="DiscreteCoverage" substitutionGroup="wx:AbstractCoverage" type="wx:DiscreteCoverageType">
        <annotation>
            <documentation>A discrete coverage consists of a domain set, range set and optionally a coverage function. The domain set consists of either spatial or temporal geometry objects, finite in number. The range set is comprised of a finite number of attribute values each of which is associated to every direct position within any single spatiotemporal object in the domain. In other words, the range values are constant on each spatiotemporal object in the domain. This coverage function maps each element from the coverage domain to an element in its range. The coverageFunction element describes the mapping function.
This element serves as the head of a substitution group which may contain any discrete coverage whose type is derived from gml:DiscreteCoverageType.</documentation>
        </annotation>
    </element>
    <complexType name="DiscreteCoverageType">
        <complexContent>
            <extension base="wx:AbstractCoverageType"/>
        </complexContent>
    </complexType>
    <complexType name="DiscreteCoveragePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:DiscreteCoverage"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="ProfileCoverage" substitutionGroup="wx:DiscreteCoverage" type="wx:ProfileCoverageType"/>
    <complexType name="ProfileCoverageType">
        <complexContent>
            <extension base="wx:DiscreteCoverageType"/>
        </complexContent>
    </complexType>
    <complexType name="ProfileCoveragePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:ProfileCoverage"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="ProfileTimeSeriesCoverage" substitutionGroup="wx:DiscreteCoverage" type="wx:ProfileTimeSeriesCoverageType"/>
    <complexType name="ProfileTimeSeriesCoverageType">
        <complexContent>
            <extension base="wx:DiscreteCoverageType"/>
        </complexContent>
    </complexType>
    <complexType name="ProfileTimeSeriesCoveragePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:ProfileTimeSeriesCoverage"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="PointCollectionCoverage" substitutionGroup="wx:DiscreteCoverage" type="wx:PointCollectionCoverageType"/>
    <complexType name="PointCollectionCoverageType">
        <complexContent>
            <extension base="wx:DiscreteCoverageType"/>
        </complexContent>
    </complexType>
    <complexType name="PointCollectionCoveragePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:PointCollectionCoverage"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="AreaDomain" substitutionGroup="wx:AbstractCoverageDomain" type="wx:AreaDomainType"/>
    <complexType name="AreaDomainType">
        <complexContent>
            <extension base="wx:AbstractCoverageDomainType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="time">
                        <complexType>
                            <sequence>
                                <element ref="gml:TimeInstant"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="validTime">
                        <complexType>
                            <sequence>
                                <element ref="gml:TimeInstant"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AreaDomainPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:AreaDomain"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="TrajectoryCoverage" substitutionGroup="wx:DiscreteCoverage" type="wx:TrajectoryCoverageType"/>
    <complexType name="TrajectoryCoverageType">
        <complexContent>
            <extension base="wx:DiscreteCoverageType"/>
        </complexContent>
    </complexType>
    <complexType name="TrajectoryCoveragePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:TrajectoryCoverage"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="PointTimeSeriesCoverage" substitutionGroup="wx:DiscreteCoverage" type="wx:PointTimeSeriesCoverageType"/>
    <complexType name="PointTimeSeriesCoverageType">
        <complexContent>
            <extension base="wx:DiscreteCoverageType"/>
        </complexContent>
    </complexType>
    <complexType name="PointTimeSeriesCoveragePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:PointTimeSeriesCoverage"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="AbstractCoverageDomain" substitutionGroup="gml:AbstractFeature" type="wx:AbstractCoverageDomainType"/>
    <complexType name="AbstractCoverageDomainType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="forecastReferenceTime">
                        <complexType>
                            <sequence>
                                <element ref="gml:TimeInstant"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractCoverageDomainPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:AbstractCoverageDomain"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="TrajectoryDomain" substitutionGroup="wx:AbstractCoverageDomain" type="wx:TrajectoryDomainType"/>
    <complexType name="TrajectoryDomainType">
        <complexContent>
            <extension base="wx:AbstractCoverageDomainType">
                <sequence>
                    <element name="coordinateList">
                        <complexType>
                            <sequence>
                                <element ref="wx:timePositionList"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TrajectoryDomainPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:TrajectoryDomain"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="AreaCoverage" substitutionGroup="wx:DiscreteCoverage" type="wx:AreaCoverageType"/>
    <complexType name="AreaCoverageType">
        <complexContent>
            <extension base="wx:DiscreteCoverageType"/>
        </complexContent>
    </complexType>
    <complexType name="AreaCoveragePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:AreaCoverage"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="AbstractCoverage" substitutionGroup="gml:AbstractFeature" type="wx:AbstractCoverageType">
        <annotation>
            <documentation>This element serves as the head of a substitution group which may contain any coverage whose type is derived from gml:AbstractCoverageType.  It may act as a variable in the definition of content models where it is required to permit any coverage to be valid.</documentation>
        </annotation>
    </element>
    <complexType name="AbstractCoverageType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="domain" type="wx:domainSetPropertyType"/>
                    <element name="range">
                        <complexType>
                            <sequence>
                                <element ref="gml:AbstractObject"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractCoveragePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:AbstractCoverage"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="ProfileTimeSeriesDomain" substitutionGroup="wx:AbstractCoverageDomain" type="wx:ProfileTimeSeriesDomainType"/>
    <complexType name="ProfileTimeSeriesDomainType">
        <complexContent>
            <extension base="wx:AbstractCoverageDomainType">
                <sequence>
                    <element name="locationZ" type="gml:ReferenceType"/>
                    <element maxOccurs="1" minOccurs="0" name="location" type="gml:DirectPositionType"/>
                    <element name="timePositionList">
                        <complexType>
                            <sequence>
                                <element ref="wx:timePositionList"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProfileTimeSeriesDomainPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:ProfileTimeSeriesDomain"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="PointCoverage" substitutionGroup="wx:DiscreteCoverage" type="wx:PointCoverageType"/>
    <complexType name="PointCoverageType">
        <complexContent>
            <extension base="wx:DiscreteCoverageType"/>
        </complexContent>
    </complexType>
    <complexType name="PointCoveragePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:PointCoverage"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="ProfileDomain" substitutionGroup="wx:AbstractCoverageDomain" type="wx:ProfileDomainType"/>
    <complexType name="ProfileDomainType">
        <complexContent>
            <extension base="wx:AbstractCoverageDomainType">
                <sequence>
                    <element name="time">
                        <complexType>
                            <sequence>
                                <element ref="gml:TimeInstant"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="location" type="gml:DirectPositionType"/>
                    <element name="locationZ" type="gml:ReferenceType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProfileDomainPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:ProfileDomain"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <group name="domainSet">
        <annotation>
            <documentation>
        The domainSet property element describes the spatio-temporal region of interest,
        within which the coverage is defined. Its content model is given by wx:DomainSetType.
        This element is based on the GML 3.2 version, with the exception that it has been 
        extended to allow for a combined spatial/temporal domain (as per ISO 19123)
      </documentation>
        </annotation>
        <choice/>
    </group>
    <complexType name="domainSetPropertyType">
        <sequence minOccurs="0">
            <group ref="wx:domainSet"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attribute name="unionSemantics" type="wx:domainSetUnionSemantics"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="domainSetUnionSemantics">
        <restriction base="string"/>
    </simpleType>
</schema>