Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wx/wxContour.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" targetNamespace="http://www.eurocontrol.int/wx/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <include schemaLocation="wxBase.xsd"/>
    <element name="Contour" substitutionGroup="wx:AbstractWxFeature" type="wx:ContourType">
        <annotation>
            <documentation>An approximated or actual outline or border of weather conditions.
</documentation>
        </annotation>
    </element>
    <complexType name="ContourType">
        <complexContent>
            <extension base="wx:AbstractWxFeatureType">
                <sequence>
                    <element name="contourValue" type="gml:MeasureType"/>
                    <element name="geometry" type="gml:CurvePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ContourPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:Contour"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>