Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wx/wxDataTypes.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" targetNamespace="http://www.eurocontrol.int/wx/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <include schemaLocation="wxPhenomBase.xsd"/>
    <include schemaLocation="measures.xsd"/>
    <element name="WxCode" substitutionGroup="gml:AbstractGML" type="wx:WxCodeType">
        <annotation>
            <documentation>Restriction of weather codes.  This includes notation for weather conditions (rain, snow, etc) like that used in METARs and TAFs</documentation>
        </annotation>
    </element>
    <complexType name="WxCodeType">
        <complexContent>
            <extension base="gml:AbstractGMLType"/>
        </complexContent>
    </complexType>
    <complexType name="WxCodePropertyType">
        <sequence minOccurs="0">
            <element ref="wx:WxCode"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <complexType name="WxCodePropertyByValueType">
        <sequence>
            <element ref="wx:WxCode"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Char256" substitutionGroup="gml:AbstractGML" type="wx:Char256Type">
        <annotation>
            <documentation>String limited to 256 characters.</documentation>
        </annotation>
    </element>
    <complexType name="Char256Type">
        <complexContent>
            <extension base="gml:AbstractGMLType"/>
        </complexContent>
    </complexType>
    <element name="PercentageRange" substitutionGroup="gml:AbstractObject" type="wx:PercentageRangeType"/>
    <complexType name="PercentageRangeType">
        <sequence>
            <element name="minimum" type="wx:PercentagePropertyType"/>
            <element name="maximum" type="wx:PercentagePropertyType"/>
        </sequence>
    </complexType>
    <complexType name="PercentageRangePropertyType">
        <sequence>
            <element ref="wx:PercentageRange"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Char64" substitutionGroup="gml:AbstractObject" type="wx:Char64Type">
        <annotation>
            <documentation>String limited to 64 characters.</documentation>
        </annotation>
    </element>
    <complexType name="Char64Type">
        <sequence>
            <element name="maxLength" type="integer"/>
        </sequence>
    </complexType>
    <complexType name="Char64PropertyType">
        <sequence>
            <element ref="wx:Char64"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Char32" substitutionGroup="gml:AbstractObject" type="wx:Char32Type">
        <annotation>
            <documentation>String limited to 32 characters.</documentation>
        </annotation>
    </element>
    <complexType name="Char32Type"/>
    <element name="Char4" substitutionGroup="gml:AbstractObject" type="wx:Char4Type">
        <annotation>
            <documentation>String limited to 4 characters.</documentation>
        </annotation>
    </element>
    <complexType name="Char4Type">
        <sequence>
            <element name="maxLength" type="integer"/>
        </sequence>
    </complexType>
    <complexType name="Char4PropertyType">
        <sequence>
            <element ref="wx:Char4"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <group name="WeatherModifier">
        <choice/>
    </group>
    <complexType name="WeatherModifierPropertyType">
        <sequence minOccurs="0">
            <group ref="wx:WeatherModifier"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attribute name="unionSemantics" type="wx:WeatherModifierUnionSemantics"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="WeatherModifierUnionSemantics">
        <restriction base="string"/>
    </simpleType>
    <simpleType name="PastTendencyType">
        <restriction base="string">
            <enumeration value="UPWARD"/>
            <enumeration value="DOWNWARD"/>
            <enumeration value="NO CHANGE"/>
        </restriction>
    </simpleType>
    <simpleType name="ForecastChangeIndicatorType">
        <restriction base="string">
            <enumeration value="FROM"/>
            <enumeration value="TEMPORARY"/>
            <enumeration value="BECOMING"/>
            <enumeration value="NO SIGNIFICANT CHANGE"/>
        </restriction>
    </simpleType>
    <simpleType name="GrowthType">
        <restriction base="string">
            <enumeration value="NEGATIVE"/>
            <enumeration value="NO CHANGE"/>
            <enumeration value="FAST POSITIVE"/>
            <enumeration value="POSITIVE"/>
        </restriction>
    </simpleType>
    <simpleType name="Compass8Type">
        <restriction base="string">
            <enumeration value="NW"/>
            <enumeration value="W"/>
            <enumeration value="SW"/>
            <enumeration value="S"/>
            <enumeration value="SE"/>
            <enumeration value="E"/>
            <enumeration value="N"/>
            <enumeration value="NE"/>
        </restriction>
    </simpleType>
    <simpleType name="WeatherDescriptorType">
        <restriction base="string">
            <enumeration value="THUNDERSTORMS"/>
            <enumeration value="SHOWERS"/>
            <enumeration value="SHALLOW"/>
            <enumeration value="PATCHES"/>
            <enumeration value="PARTIAL"/>
            <enumeration value="LOW DRIFTING"/>
            <enumeration value="DRIFTING"/>
            <enumeration value="BLOWING"/>
            <enumeration value="FREEZING"/>
        </restriction>
    </simpleType>
    <simpleType name="Compass4Type">
        <restriction base="string">
            <enumeration value="W"/>
            <enumeration value="E"/>
            <enumeration value="N"/>
            <enumeration value="S"/>
        </restriction>
    </simpleType>
    <simpleType name="Compass16Type">
        <restriction base="string">
            <enumeration value="N"/>
            <enumeration value="NNE"/>
            <enumeration value="NE"/>
            <enumeration value="ENE"/>
            <enumeration value="E"/>
            <enumeration value="NNW"/>
            <enumeration value="NW"/>
            <enumeration value="WNW"/>
            <enumeration value="W"/>
            <enumeration value="WSW"/>
            <enumeration value="SW"/>
            <enumeration value="SSW"/>
            <enumeration value="S"/>
            <enumeration value="SSE"/>
            <enumeration value="ESE"/>
            <enumeration value="SE"/>
        </restriction>
    </simpleType>
    <simpleType name="IntensityChangeType">
        <restriction base="string">
            <enumeration value="WEAKEN"/>
            <enumeration value="INTENSIFY"/>
            <enumeration value="NO CHANGE"/>
        </restriction>
    </simpleType>
    <simpleType name="WeatherIntensityType">
        <restriction base="string">
            <enumeration value="SEVERE"/>
            <enumeration value="HEAVY"/>
            <enumeration value="MODERATE-SEVERE">
                <annotation>
                    <documentation>A moderate to severe intensity.  This is used by AIR/SIGMETs</documentation>
                </annotation>
            </enumeration>
            <enumeration value="MODERATE"/>
            <enumeration value="LIGHT-MODERATE">
                <annotation>
                    <documentation>A light to moderate intensity.  This is used by AIR/SIGMETs</documentation>
                </annotation>
            </enumeration>
            <enumeration value="NONE">
                <annotation>
                    <documentation>A report of no intensity (no icing present, for example) for a condition.  This is different from missing information</documentation>
                </annotation>
            </enumeration>
            <enumeration value="LIGHT"/>
        </restriction>
    </simpleType>
    <simpleType name="WeatherProximityType">
        <restriction base="string">
            <enumeration value="VICINITY"/>
        </restriction>
    </simpleType>
</schema>