Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wx/wxForecast.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" xmlns:om="http://www.opengis.net/om/1.0/gml32" xmlns:swe="http://www.opengis.net/swe/1.0/gml32" targetNamespace="http://www.eurocontrol.int/wx/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.opengis.net/om/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-128/om/1.0.0_gml32/om.xsd"/>
    <import namespace="http://www.opengis.net/swe/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-127/sweCommon/1.0.1_gml32/swe.xsd"/>
    <include schemaLocation="measures.xsd"/>
    <include schemaLocation="wxDataTypes.xsd"/>
    <include schemaLocation="wxProcess.xsd"/>
    <element name="Forecast" substitutionGroup="om:Observation" type="wx:ForecastType">
        <annotation>
            <documentation>Generic weather forecast class. Forecast inherits from O&amp;amp;M observation. For a Forecast the samplingTime implies the validity period for a forecast.</documentation>
        </annotation>
    </element>
    <complexType name="ForecastType">
        <complexContent>
            <extension base="om:ObservationType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="confidence">
                        <complexType>
                            <sequence>
                                <element ref="wx:Percentage"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="confidenceRange">
                        <complexType>
                            <sequence>
                                <element ref="wx:PercentageRange"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="forecastAnalysisTime">
                        <annotation>
                            <documentation> Analysis time for forecast. This is also commonly referred
                to as the forecast reference time</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element ref="gml:AbstractTimeObject"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="forecastTime">
                        <annotation>
                            <documentation>Base type for Observations.
        Forecast is an act ("event"), whose result is an estimate of the value of a
        property of the feature of interest. The forecast property may be any property
        associated with the type of the feature of interest.</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element ref="gml:AbstractTimeObject"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="probability">
                        <complexType>
                            <sequence>
                                <element ref="wx:Percentage"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="procedure" type="wx:ObservationOrForecastProcessPropertyType">
                        <annotation>
                            <documentation> The procedure is the description of a process used to generate the result.
                It must be suitable for the observed property.
                NOTE:  At this level we do not distinguish between sensor-observations,
                estimations made by an observer, or algorithms, simulations, computations
                and complex processing chains.</documentation>
                        </annotation>
                    </element>
                    <element name="forecastProperty" type="swe:PhenomenonPropertyType">
                        <annotation>
                            <documentation>  Property-type or phenomenon for which the forecast result provides an estimate
                of its value. For example "wavelength", "grass-species", "power", "intensity in
                the waveband x-y", etc. It must be a property associated with the type of the
                feature of interest. This feature-property that provides the (semantic) type of
                the observation. The description of the phenomenon may be quite specific and
                constrained.

                The description of the property-type may be presented using various alternative encodings.
                If shown inline, the swe:Phenomenon schema is required.
                If provided using another encoding (e.g. OWL or SWEET) then the description must be in a
                remote repository and xlink reference used.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="relatedObservation" type="gml:FeaturePropertyType">
                        <annotation>
                            <documentation> The base observation allows for a forecast to be linked to its corresponding base observation.
                This is in support of existing data models where the observations and forecasts are bundled
                together for convenience. It allows for the linkage between an observation and its associated
                forecasts tied to be maintained.</documentation>
                        </annotation>
                    </element>
                    <element name="featureOfInterest" type="gml:FeaturePropertyType">
                        <annotation>
                            <documentation> The featureOfInterest is a feature of any type (ISO 19109, ISO 19101), which is a
                representation of the observation target, being the real-world object regarding which
                the observation is made, such as a specimen, station, tract, mountain, pixel, etc.
                The spatial properties (location) of this feature of interest are typically of most
                interest for spatial analysis of the observation result.</documentation>
                        </annotation>
                    </element>
                    <element name="changeIndicator" type="wx:ForecastChangeIndicatorType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ForecastPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:Forecast"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>