Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wx/wxGeometry.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" targetNamespace="http://www.eurocontrol.int/wx/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <group name="geometry">
        <choice/>
    </group>
    <complexType name="geometryPropertyType">
        <sequence minOccurs="0">
            <group ref="wx:geometry"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attribute name="unionSemantics" type="wx:geometryUnionSemantics"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="geometryUnionSemantics">
        <restriction base="string"/>
    </simpleType>
</schema>