Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wx/wxMotionVector.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" targetNamespace="http://www.eurocontrol.int/wx/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <include schemaLocation="wxBase.xsd"/>
    <include schemaLocation="measures.xsd"/>
    <include schemaLocation="Units.xsd"/>
    <element name="MotionVector" substitutionGroup="wx:AbstractWxFeature" type="wx:MotionVectorType"/>
    <complexType name="MotionVectorType">
        <complexContent>
            <extension base="wx:AbstractWxFeatureType">
                <sequence>
                    <element name="position" type="gml:DirectPositionType"/>
                    <element name="speed" type="wx:SpeedPropertyType"/>
                    <element name="direction" type="wx:AnglePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MotionVectorPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:MotionVector"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="MotionVectors" substitutionGroup="wx:AbstractWxFeature" type="wx:MotionVectorsType">
        <annotation>
            <documentation>
        The MotionVectors element is an extension of gml:AbstractFeatureType that
        contains one or more MotionVector objects.
      </documentation>
        </annotation>
    </element>
    <complexType name="MotionVectorsType">
        <complexContent>
            <extension base="wx:AbstractWxFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="vector" type="wx:MotionVectorPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MotionVectorsPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:MotionVectors"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>