Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wx/wxObservation.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" xmlns:om="http://www.opengis.net/om/1.0/gml32" targetNamespace="http://www.eurocontrol.int/wx/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.opengis.net/om/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-128/om/1.0.0_gml32/om.xsd"/>
    <include schemaLocation="wxProcess.xsd"/>
    <include schemaLocation="measures.xsd"/>
    <element name="Observation" substitutionGroup="om:Observation" type="wx:ObservationType"/>
    <complexType name="ObservationType">
        <complexContent>
            <extension base="om:ObservationType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="validityPeriod" type="duration"/>
                    <element maxOccurs="1" minOccurs="0" name="procedure" type="wx:ObservationOrForecastProcessPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ObservationPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:Observation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <group name="ObservationOrForecast">
        <choice/>
    </group>
    <complexType name="ObservationOrForecastPropertyType">
        <sequence minOccurs="0">
            <group ref="wx:ObservationOrForecast"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attribute name="unionSemantics" type="wx:ObservationOrForecastUnionSemantics"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="ObservationOrForecastUnionSemantics">
        <restriction base="string"/>
    </simpleType>
</schema>