Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wx/wxPhenomBase.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:wx="http://www.eurocontrol.int/wx/1.1" targetNamespace="http://www.eurocontrol.int/wx/1.1"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2"
        schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <include schemaLocation="wx_measures.xsd"/>
    <include schemaLocation="wxBase.xsd"/>
    <include schemaLocation="wxDataTypes.xsd"/>
    <include schemaLocation="measures.xsd"/>
    <element abstract="true" name="AbstractPhenomenon" substitutionGroup="gml:AbstractFeature"
        type="wx:AbstractPhenomenonType">
        <annotation>
            <documentation>Abstract class intended to act as head of subsitution group for all
                weather phenomena classes.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractPhenomenonType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="coverage">
                        <complexType>
                            <sequence>
                                <element ref="wx:PercentageRange"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="extentOf"
                        type="wx:ExtentOfPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="intensity"
                        type="wx:WeatherIntensityType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="movement"
                        type="wx:MovementDescriptionPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractPhenomenonPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:AbstractPhenomenon"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="MovementDescription" substitutionGroup="gml:AbstractFeature"
        type="wx:MovementDescriptionType"/>
    <complexType name="MovementDescriptionType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="directionTowards">
                        <complexType>
                            <sequence>
                                <element ref="wx:Bearing"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="speed">
                        <complexType>
                            <sequence>
                                <element ref="wx:Speed"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="isStationary" type="boolean"/>
                    <element name="compassDirection" type="wx:Compass16Type"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MovementDescriptionPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:MovementDescription"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element abstract="true" name="VerticallyBoundedPhenomenon"
        substitutionGroup="wx:AbstractPhenomenon" type="wx:VerticallyBoundedPhenomenonType">
        <annotation>
            <documentation>A weather phenomenon that may be vertically bounded with a base and/or
                top</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="VerticallyBoundedPhenomenonType">
        <complexContent>
            <extension base="wx:AbstractPhenomenonType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="base"
                        type="wx:VerticalDistancePropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="top"
                        type="wx:VerticalDistancePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="VerticallyBoundedPhenomenonPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:VerticallyBoundedPhenomenon"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="WxCondition" substitutionGroup="gml:AbstractFeature" type="wx:WxConditionType"/>
    <complexType name="WxConditionType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="weatherModifier">
                        <complexType>
                            <sequence>
                                <group ref="wx:WeatherModifier"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="wxCode">
                        <complexType>
                            <sequence>
                                <element ref="wx:WxCode"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="wxPhenomenon"
                        type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>wx:AbstractPhenomenon</gml:targetElement>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="weatherDescriptor" type="wx:WeatherDescriptorType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WxConditionPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:WxCondition"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="OtherPhenomenon" substitutionGroup="wx:AbstractPhenomenon"
        type="wx:OtherPhenomenonType"/>
    <complexType name="OtherPhenomenonType">
        <complexContent>
            <extension base="wx:AbstractPhenomenonType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="phenomenonType"
                        type="wx:OtherPhenomenonTypesType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="OtherPhenomenonPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:OtherPhenomenon"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="WxConditions" substitutionGroup="gml:AbstractFeature" type="wx:WxConditionsType"/>
    <complexType name="WxConditionsType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="wxConditions"
                        type="wx:WxConditionPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WxConditionsPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:WxConditions"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <group name="WeatherPhenomenon">
        <choice/>
    </group>
    <complexType name="WeatherPhenomenonPropertyType">
        <sequence minOccurs="0">
            <group ref="wx:WeatherPhenomenon"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attribute name="unionSemantics" type="wx:WeatherPhenomenonUnionSemantics"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="WeatherPhenomenonUnionSemantics">
        <restriction base="string"/>
    </simpleType>
    <simpleType name="OtherPhenomenonTypesType">
        <restriction base="string">
            <enumeration value="SANDSTORM"/>
            <enumeration value="DUSTSTORM"/>
            <enumeration value="FUNNEL CLOUD">
                <annotation>
                    <documentation>Includes TORNADO and WATERSPOUT.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="DUSTWHIRL">
                <annotation>
                    <documentation>Includes SANDWHIRL (dust devil).</documentation>
                </annotation>
            </enumeration>
            <enumeration value="SQUALL"/>
        </restriction>
    </simpleType>
    <simpleType name="PrecipitationTypesType">
        <restriction base="string">
            <enumeration value="UNIDENTIFIED"/>
            <enumeration value="UNKNOWN"/>
            <enumeration value="SMALL HAIL"/>
            <enumeration value="HAIL"/>
            <enumeration value="ICE PELLETS"/>
            <enumeration value="ICE CRYSTALS"/>
            <enumeration value="SNOW_GRAINS"/>
            <enumeration value="SNOW"/>
            <enumeration value="DRIZZLE"/>
            <enumeration value="RAIN"/>
        </restriction>
    </simpleType>
    <simpleType name="ObscurationTypesType">
        <restriction base="string">
            <enumeration value="UNIDENTIFIED"/>
            <enumeration value="SPRAY"/>
            <enumeration value="HAZE"/>
            <enumeration value="SAND"/>
            <enumeration value="DUST"/>
            <enumeration value="VOLCANIC ASH"/>
            <enumeration value="SMOKE"/>
            <enumeration value="MIST"/>
            <enumeration value="FOG"/>
        </restriction>
    </simpleType>
</schema>
