Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wxxm_1.1_schemas/wx/wxProcess.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" targetNamespace="http://www.eurocontrol.int/wx/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <element name="ObservationOrForecastProcess" substitutionGroup="wx:WxProcess" type="wx:ObservationOrForecastProcessType">
        <annotation>
            <documentation>Represents the process used for observation or forecasting.  This is the weather instantiation of the O&amp;amp;M concept.  
</documentation>
        </annotation>
    </element>
    <complexType name="ObservationOrForecastProcessType">
        <complexContent>
            <extension base="wx:WxProcessType"/>
        </complexContent>
    </complexType>
    <complexType name="ObservationOrForecastProcessPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:ObservationOrForecastProcess"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="WxProcess" substitutionGroup="gml:AbstractFeature" type="wx:WxProcessType">
        <annotation>
            <documentation>A process of collecting or distributing weather information</documentation>
        </annotation>
    </element>
    <complexType name="WxProcessType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="systems" type="wx:SystemPropertyType"/>
                    <element name="humanEstimated" type="boolean"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WxProcessPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:WxProcess"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="System" substitutionGroup="gml:AbstractFeature" type="wx:SystemType">
        <annotation>
            <documentation>An identifier for a system involved in generating, reporting, or collecting weather information
</documentation>
        </annotation>
    </element>
    <complexType name="SystemType">
        <complexContent>
            <extension base="gml:AbstractFeatureType"/>
        </complexContent>
    </complexType>
    <complexType name="SystemPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:System"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="ReportProcess" substitutionGroup="wx:WxProcess" type="wx:ReportProcessType">
        <annotation>
            <documentation>The process related to the distribution or collection of weather reports
</documentation>
        </annotation>
    </element>
    <complexType name="ReportProcessType">
        <complexContent>
            <extension base="wx:WxProcessType"/>
        </complexContent>
    </complexType>
    <complexType name="ReportProcessPropertyType">
        <sequence minOccurs="0">
            <element ref="wx:ReportProcess"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>