Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/icao_annex_3_volcanicactivity.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" xmlns:om="http://www.opengis.net/om/1.0/gml32" xmlns:avwx="http://www.eurocontrol.int/wxxs/1.1" targetNamespace="http://www.eurocontrol.int/wxxs/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.eurocontrol.int/wx/1.1" schemaLocation="../wx/wx.xsd"/>
    <import namespace="http://www.opengis.net/om/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-128/om/1.0.0_gml32/om.xsd"/>
    <include schemaLocation="icao_annex_3_base.xsd"/>
    <include schemaLocation="wx_datatypes.xsd"/>
    <element name="VolcanicActivityReport" substitutionGroup="avwx:AbstractReport" type="avwx:VolcanicActivityReportType">
        <annotation>
            <documentation>Volcanic activity report message.
</documentation>
        </annotation>
    </element>
    <complexType name="VolcanicActivityReportType">
        <complexContent>
            <extension base="avwx:AbstractReportType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="issuedBy">
                        <complexType>
                            <sequence>
                                <element ref="avwx:VolcanicAshAdvisoryCentre"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="volcanicActivityObservation">
                        <complexType>
                            <sequence>
                                <element ref="om:Observation"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="volcanicAshCloudObservation">
                        <complexType>
                            <sequence>
                                <element ref="om:Observation"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="issueTime" type="dateTime"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="VolcanicActivityReportPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:VolcanicActivityReport"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="VolcanicAshAdvisory" substitutionGroup="avwx:AbstractReport" type="avwx:VolcanicAshAdvisoryType">
        <annotation>
            <documentation>Volcanic ash advisory message.
</documentation>
        </annotation>
    </element>
    <complexType name="VolcanicAshAdvisoryType">
        <complexContent>
            <extension base="avwx:AbstractReportType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="informationSource">
                        <complexType>
                            <sequence>
                                <element ref="wx:Char32"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="issuedBy">
                        <complexType>
                            <sequence>
                                <element ref="avwx:VolcanicAshAdvisoryCentre"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="remarks">
                        <complexType>
                            <sequence>
                                <element ref="wx:Char256"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="volcanicActivityObservation">
                        <complexType>
                            <sequence>
                                <element ref="om:Observation"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="0" minOccurs="0" name="volcanicAshCloudForecast">
                        <complexType>
                            <sequence>
                                <element ref="wx:Forecast"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="volcanicAshCloudObservation">
                        <complexType>
                            <sequence>
                                <element ref="om:Observation"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="nextAdvisoryTime" type="dateTime"/>
                    <element name="originTime" type="dateTime"/>
                    <element name="number" type="string"/>
                    <element name="nextAdvisoryText" type="string"/>
                    <element name="aviationColourCode" type="avwx:AviationColourCodeType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="VolcanicAshAdvisoryPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:VolcanicAshAdvisory"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>