Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/icao_annex_3_windshear.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" xmlns:avwx="http://www.eurocontrol.int/wxxs/1.1" targetNamespace="http://www.eurocontrol.int/wxxs/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.eurocontrol.int/wx/1.1" schemaLocation="../wx/wx.xsd"/>
    <include schemaLocation="icao_annex_3_base.xsd"/>
    <element name="WindShearWarning" substitutionGroup="avwx:AbstractReport" type="avwx:WindShearWarningType">
        <annotation>
            <documentation>Wind shear warning message.</documentation>
        </annotation>
    </element>
    <complexType name="WindShearWarningType">
        <complexContent>
            <extension base="avwx:AbstractReportType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="issuedFor">
                        <complexType>
                            <sequence>
                                <element ref="avwx:Aerodrome"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="runwayAreaObservationOrForecast" type="wx:ObservationOrForecastPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="affectsRunway">
                        <complexType>
                            <sequence>
                                <element ref="avwx:Runway"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="validityPeriod" type="duration"/>
                    <element name="originTime" type="dateTime"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WindShearWarningPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:WindShearWarning"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>