Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/icao_annex_3_tropicalcyclone.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" xmlns:om="http://www.opengis.net/om/1.0/gml32" xmlns:avwx="http://www.eurocontrol.int/wxxs/1.1" targetNamespace="http://www.eurocontrol.int/wxxs/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.eurocontrol.int/wx/1.1" schemaLocation="../wx/wx.xsd"/>
    <import namespace="http://www.opengis.net/om/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-128/om/1.0.0_gml32/om.xsd"/>
    <include schemaLocation="icao_annex_3_base.xsd"/>
    <element name="TropicalCycloneAdvisory" substitutionGroup="avwx:AbstractReport" type="avwx:TropicalCycloneAdvisoryType">
        <annotation>
            <documentation>Tropical cyclone advisory message (TCA).
</documentation>
        </annotation>
    </element>
    <complexType name="TropicalCycloneAdvisoryType">
        <complexContent>
            <extension base="avwx:AbstractReportType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="forecast">
                        <complexType>
                            <sequence>
                                <element ref="wx:Forecast"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="issuedBy">
                        <complexType>
                            <sequence>
                                <element ref="avwx:TropicalCycloneAdvisoryCentre"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="observation">
                        <complexType>
                            <sequence>
                                <element ref="om:Observation"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="remarks">
                        <complexType>
                            <sequence>
                                <element ref="wx:Char256"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="originTime" type="dateTime"/>
                    <element name="nextAdvisoryTime" type="dateTime"/>
                    <element name="number" type="integer"/>
                    <element name="nextAdvisoryText" type="avwx:NextAdvisoryTextType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TropicalCycloneAdvisoryPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:TropicalCycloneAdvisory"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>