Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/icao_annex_3_base.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" xmlns:avwx="http://www.eurocontrol.int/wxxs/1.1" targetNamespace="http://www.eurocontrol.int/wxxs/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.eurocontrol.int/wx/1.1" schemaLocation="../wx/wx.xsd"/>
    <include schemaLocation="wx_features.xsd"/>
    <include schemaLocation="wx_areaofinterestwx.xsd"/>
    <element name="TREND" substitutionGroup="gml:AbstractFeature" type="avwx:TRENDType">
        <annotation>
            <documentation>TREND forecast.</documentation>
        </annotation>
    </element>
    <complexType name="TRENDType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="changePeriod" type="duration"/>
                    <element maxOccurs="1" minOccurs="0" name="trendChangeIndicator" type="wx:ForecastChangeIndicatorType"/>
                    <element name="forecast" type="wx:ForecastPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TRENDPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:TREND"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="AerodromeWarning" substitutionGroup="avwx:AbstractReport" type="avwx:AerodromeWarningType">
        <annotation>
            <documentation>Aerodrome warning message.</documentation>
        </annotation>
    </element>
    <complexType name="AerodromeWarningType">
        <complexContent>
            <extension base="avwx:AbstractReportType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="issuedFor">
                        <complexType>
                            <sequence>
                                <element ref="avwx:Aerodrome"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="cancellation" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="identification" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AerodromeWarningPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:AerodromeWarning"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element abstract="true" name="AbstractReport" substitutionGroup="gml:AbstractFeature" type="avwx:AbstractReportType"/>
    <complexType abstract="true" name="AbstractReportType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="process">
                        <complexType>
                            <sequence>
                                <element ref="wx:ReportProcess"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="observationOrForecast">
                        <complexType>
                            <sequence>
                                <group ref="wx:ObservationOrForecast"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="rawText" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractReportPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:AbstractReport"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="NextAdvisoryTextType">
        <restriction base="string">
            <enumeration value="NO FURTHER ADVISORIES"/>
            <enumeration value="NO LATER THAN"/>
            <enumeration value="WILL BE ISSUED BY"/>
        </restriction>
    </simpleType>
</schema>