Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/SurfaceReport.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" xmlns:om="http://www.opengis.net/om/1.0/gml32" xmlns:avwx="http://www.eurocontrol.int/wxxs/1.1" targetNamespace="http://www.eurocontrol.int/wxxs/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.eurocontrol.int/wx/1.1" schemaLocation="../wx/wx.xsd"/>
    <import namespace="http://www.opengis.net/om/1.0/gml32" schemaLocation="http://dp.schemas.opengis.net/08-128/om/1.0.0_gml32/om.xsd"/>
    <include schemaLocation="wx_features.xsd"/>
    <include schemaLocation="icao_annex_3_base.xsd"/>
    <element name="SurfaceReport" substitutionGroup="gml:AbstractFeature" type="avwx:SurfaceReportType">
        <annotation>
            <documentation>A report of  observations made from the surface of the earth or water bodies
</documentation>
        </annotation>
    </element>
    <complexType name="SurfaceReportType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="aerodromeWxObservation">
                        <complexType>
                            <sequence>
                                <element ref="om:Observation"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="appliesTo">
                        <complexType>
                            <sequence>
                                <element ref="avwx:Aerodrome"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="runwayWxObservation">
                        <complexType>
                            <sequence>
                                <element ref="om:Observation"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="stationId" type="gml:CodeWithAuthorityType"/>
                    <element maxOccurs="1" minOccurs="0" name="issueTime" type="dateTime"/>
                    <element maxOccurs="1" minOccurs="0" name="automated" type="boolean"/>
                    <element maxOccurs="1" minOccurs="0" name="missing" type="boolean"/>
                    <element name="aerodromeWxForecast" type="wx:ForecastChangeIndicatorType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SurfaceReportPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:SurfaceReport"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="METAR" substitutionGroup="avwx:SurfaceReport" type="avwx:METARType">
        <annotation>
            <documentation>A METAR report</documentation>
        </annotation>
    </element>
    <complexType name="METARType">
        <complexContent>
            <extension base="avwx:SurfaceReportType">
                <sequence>
                    <element name="corrected" type="boolean"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="METARPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:METAR"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="METARSpeci" substitutionGroup="avwx:SurfaceReport" type="avwx:METARSpeciType">
        <annotation>
            <documentation>A special METAR report
</documentation>
        </annotation>
    </element>
    <complexType name="METARSpeciType">
        <complexContent>
            <extension base="avwx:SurfaceReportType">
                <sequence>
                    <element name="corrected" type="boolean"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="METARSpeciPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:METARSpeci"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>