Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wx_areaofinterestwx.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" xmlns:avwx="http://www.eurocontrol.int/wxxs/1.1" targetNamespace="http://www.eurocontrol.int/wxxs/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
        <appinfo>
            <sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                <sch:title>Schematron constraints for "WX_AreaOfInterestWx"</sch:title>
                <sch:ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
                <sch:ns prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
                <sch:ns prefix="avwx" uri="http://www.eurocontrol.int/wxxs/1.1"/>
                <sch:pattern name="Properties for AirspaceWx">
                    <sch:rule context="//avwx:AirspaceWx">
                        <sch:assert test="avwx:isDefinedFor/avwx:Airspace or (empty(avwx:isDefinedFor/*) and avwx:isDefinedFor/@xlink:href)">isDefinedFor must contain either Airspace or nothing (and carry an xlink:href instead)</sch:assert>
                    </sch:rule>
                    <sch:rule context="//avwx:AerodromeWx">
                        <sch:assert test="avwx:isDefinedFor/avwx:Aerodrome or (empty(avwx:isDefinedFor/*) and avwx:isDefinedFor/@xlink:href)">isDefinedFor must contain either Aerodrome or nothing (and carry an xlink:href instead)</sch:assert>
                    </sch:rule>
                    <sch:rule context="//avwx:SeaWx">
                        <sch:assert test="avwx:isDefinedFor/avwx:Sea or (empty(avwx:isDefinedFor/*) and avwx:isDefinedFor/@xlink:href)">isDefinedFor must contain either Sea or nothing (and carry an xlink:href instead)</sch:assert>
                    </sch:rule>
                    <sch:rule context="//avwx:RunwayWx">
                        <sch:assert test="avwx:isDefinedFor/avwx:Runway or (empty(avwx:isDefinedFor/*) and avwx:isDefinedFor/@xlink:href)">isDefinedFor must contain either Runway or nothing (and carry an xlink:href instead)</sch:assert>
                    </sch:rule>
                    <sch:rule context="//avwx:RouteWx">
                        <sch:assert test="avwx:isDefinedFor/avwx:Route or (empty(avwx:isDefinedFor/*) and avwx:isDefinedFor/@xlink:href)">isDefinedFor must contain either Route or nothing (and carry an xlink:href instead)</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </sch:schema>
        </appinfo>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.eurocontrol.int/wx/1.1" schemaLocation="../wx/wx.xsd"/>
    <include schemaLocation="wx_phenom_hazards.xsd"/>
    <include schemaLocation="wx_features.xsd"/>
    <include schemaLocation="wx_datatypes.xsd"/>
    <element name="AirspaceWx" substitutionGroup="avwx:AviationWx" type="avwx:AirspaceWxType">
        <annotation>
            <documentation>Area of interest for weather-related observations and forecasts of relevance to an airspace. Extends WX_AreaOfInterest by: - specifying that 'isDefinedFor' must be an Airspace, - adding properties for phenomena of relevance to flights.
</documentation>
        </annotation>
    </element>
    <complexType name="AirspaceWxType">
        <annotation>
            <documentation>The following properties inherited from parent classes are overridden in Schematron assertions:

association: isDefinedFor</documentation>
        </annotation>
        <complexContent>
            <extension base="avwx:AviationWxType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="convection">
                        <complexType>
                            <sequence>
                                <element ref="avwx:Convection"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="icing">
                        <complexType>
                            <sequence>
                                <element ref="avwx:Icing"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="mountainObscuration">
                        <complexType>
                            <sequence>
                                <element ref="avwx:MountainObscuration"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="mountainWave">
                        <complexType>
                            <sequence>
                                <element ref="avwx:MountainWave"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="turbulence">
                        <complexType>
                            <sequence>
                                <element ref="avwx:Turbulence"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="cloudCondition" type="wx:CloudConditionPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AirspaceWxPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:AirspaceWx"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="AerodromeWx" substitutionGroup="avwx:AviationWx" type="avwx:AerodromeWxType">
        <annotation>
            <documentation>Area of interest for weather-related observations and forecasts around an aerodrome.</documentation>
        </annotation>
    </element>
    <complexType name="AerodromeWxType">
        <annotation>
            <documentation>The following properties inherited from parent classes are overridden in Schematron assertions:

association: isDefinedFor</documentation>
        </annotation>
        <complexContent>
            <extension base="avwx:AviationWxType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="qnh">
                        <complexType>
                            <sequence>
                                <element ref="wx:QPressure"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="wxConditions">
                        <complexType>
                            <sequence>
                                <element ref="wx:WxConditions"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="cavok" type="boolean"/>
                    <element maxOccurs="1" minOccurs="0" name="qfe">
                        <complexType>
                            <sequence>
                                <element ref="wx:QPressure"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="cloudConditions" type="wx:CloudConditionPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="colourState" type="avwx:AviationColourCodeType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AerodromeWxPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:AerodromeWx"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="AviationWx" substitutionGroup="wx:AbstractWxFeature" type="avwx:AviationWxType">
        <annotation>
            <documentation>Generic area of interest for weather-related observations and forecasts. Contains properties relating to general weather conditions.
</documentation>
        </annotation>
    </element>
    <complexType name="AviationWxType">
        <complexContent>
            <extension base="wx:AbstractWxFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="airPressure">
                        <complexType>
                            <sequence>
                                <element ref="wx:Pressure"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="airTemperature">
                        <complexType>
                            <sequence>
                                <element ref="wx:AirTemperature"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="dewpointTemperature">
                        <complexType>
                            <sequence>
                                <element ref="wx:AirTemperature"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="isDefinedFor">
                        <complexType>
                            <sequence>
                                <element ref="gml:AbstractFeature"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="verticalVisibility">
                        <complexType>
                            <sequence>
                                <element ref="wx:VerticalVisibilityDistance"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="verticalWindGust">
                        <complexType>
                            <sequence>
                                <element ref="wx:WindGust"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="windDirection">
                        <complexType>
                            <sequence>
                                <element ref="wx:WindDirection"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="windGust">
                        <complexType>
                            <sequence>
                                <element ref="wx:WindGust"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="horizontalVisibility" type="avwx:HorizontalVisibilityPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="windSpeed">
                        <complexType>
                            <sequence>
                                <element ref="wx:WindSpeed"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AviationWxPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:AviationWx"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="SeaWx" substitutionGroup="gml:AbstractFeature" type="avwx:SeaWxType"/>
    <complexType name="SeaWxType">
        <annotation>
            <documentation>The following properties inherited from parent classes are overridden in Schematron assertions:

association: isDefinedFor</documentation>
        </annotation>
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="surfaceTemperature">
                        <complexType>
                            <sequence>
                                <element ref="wx:Temperature"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="seaState" type="avwx:SeaStateType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SeaWxPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:SeaWx"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="HorizontalVisibility" substitutionGroup="gml:AbstractFeature" type="avwx:HorizontalVisibilityType"/>
    <complexType name="HorizontalVisibilityType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="minimumVisibility">
                        <complexType>
                            <sequence>
                                <element ref="wx:HorizontalVisibilityDistance"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="prevailingVisibility">
                        <complexType>
                            <sequence>
                                <element ref="wx:HorizontalVisibilityDistance"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="unidirectionalVisibility" type="boolean"/>
                    <element name="directionMinimum" type="wx:Compass8Type"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="HorizontalVisibilityPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:HorizontalVisibility"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="RVR" substitutionGroup="gml:AbstractFeature" type="avwx:RVRType"/>
    <complexType name="RVRType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="range">
                        <complexType>
                            <sequence>
                                <element ref="wx:Distance"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="rangeVariesTo">
                        <complexType>
                            <sequence>
                                <element ref="wx:Distance"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="pastTendency" type="wx:PastTendencyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="RVRPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:RVR"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="RunwayWx" substitutionGroup="avwx:AviationWx" type="avwx:RunwayWxType">
        <annotation>
            <documentation>Area of interest for weather observations and forecasts relevant to a runway. May be defined for single or multiple runways.</documentation>
        </annotation>
    </element>
    <complexType name="RunwayWxType">
        <annotation>
            <documentation>The following properties inherited from parent classes are overridden in Schematron assertions:

association: isDefinedFor</documentation>
        </annotation>
        <complexContent>
            <extension base="avwx:AviationWxType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="rvr" type="avwx:RVRPropertyType"/>
                    <element name="qfe">
                        <complexType>
                            <sequence>
                                <element ref="wx:QPressure"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="RunwayWxPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:RunwayWx"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="RouteWx" substitutionGroup="avwx:AviationWx" type="avwx:RouteWxType">
        <annotation>
            <documentation>Area of interest for weather observations/forecasts related to routes.</documentation>
        </annotation>
    </element>
    <complexType name="RouteWxType">
        <annotation>
            <documentation>The following properties inherited from parent classes are overridden in Schematron assertions:

attribute: isDefinedFor</documentation>
        </annotation>
        <complexContent>
            <extension base="avwx:AviationWxType"/>
        </complexContent>
    </complexType>
    <complexType name="RouteWxPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:RouteWx"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="SurfaceDeposit" substitutionGroup="gml:AbstractFeature" type="avwx:SurfaceDepositType"/>
    <complexType name="SurfaceDepositType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="contaminationExtent">
                        <complexType>
                            <sequence>
                                <element ref="wx:Percentage"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="depositDepth">
                        <complexType>
                            <sequence>
                                <element ref="wx:Distance"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="surfaceDepositType" type="avwx:SurfaceDepositTypesType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SurfaceDepositPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:SurfaceDeposit"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="SurfaceDepositTypesType">
        <restriction base="string">
            <enumeration value="NOT REPORTED"/>
            <enumeration value="FROZEN RUTS"/>
            <enumeration value="COMPACTED SNOW"/>
            <enumeration value="ICE"/>
            <enumeration value="SLUSH"/>
            <enumeration value="WET SNOW"/>
            <enumeration value="DRY SNOW"/>
            <enumeration value="RIME AND FROST"/>
            <enumeration value="WET AND WATER PATCHES"/>
            <enumeration value="CLEAR AND DRY"/>
            <enumeration value="DAMP"/>
        </restriction>
    </simpleType>
    <simpleType name="SeaStateType">
        <restriction base="string">
            <enumeration value="PHENOMENAL"/>
            <enumeration value="VERY HIGH"/>
            <enumeration value="HIGH"/>
            <enumeration value="VERY ROUGH"/>
            <enumeration value="ROUGH"/>
            <enumeration value="MODERATE"/>
            <enumeration value="SLIGHT"/>
            <enumeration value="SMOOTH WAVELETS"/>
            <enumeration value="CALM GLASSY"/>
            <enumeration value="CALM RIPPLED"/>
        </restriction>
    </simpleType>
    <simpleType name="BrakingActionType">
        <restriction base="string">
            <enumeration value="NOT REPORTED"/>
            <enumeration value="UNRELIABLE"/>
            <enumeration value="GOOD"/>
            <enumeration value="MEDIUM/GOOD"/>
            <enumeration value="MEDIUM"/>
            <enumeration value="MEDIUM/POOR"/>
            <enumeration value="POOR"/>
        </restriction>
    </simpleType>
</schema>