Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wx_datatypes.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:avwx="http://www.eurocontrol.int/wxxs/1.1" targetNamespace="http://www.eurocontrol.int/wxxs/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <simpleType name="RunwaySectionType">
        <restriction base="string">
            <enumeration value="TDZ">
                <annotation>
                    <documentation>Touchdown zone.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="END">
                <annotation>
                    <documentation>End of runway.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="MID">
                <annotation>
                    <documentation>Middle of runway.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="ContaminationExtentType">
        <restriction base="string">
            <enumeration value="NOT REPORTED"/>
            <enumeration value="51-100%"/>
            <enumeration value="26-50%"/>
            <enumeration value="&lt;10%"/>
            <enumeration value="11-25%"/>
        </restriction>
    </simpleType>
    <simpleType name="AviationColourCodeType">
        <restriction base="string">
            <enumeration value="NIL"/>
            <enumeration value="UNKNOWN"/>
            <enumeration value="NOT GIVEN"/>
            <enumeration value="YELLOW"/>
            <enumeration value="GREEN"/>
            <enumeration value="ORANGE"/>
            <enumeration value="RED"/>
        </restriction>
    </simpleType>
</schema>