Parser/WSDL/FAA/OGC/int/eurocontrol/wxxs/1.1.0/wx_features.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wx="http://www.eurocontrol.int/wx/1.1" xmlns:avwx="http://www.eurocontrol.int/wxxs/1.1" targetNamespace="http://www.eurocontrol.int/wxxs/1.1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.eurocontrol.int/wx/1.1" schemaLocation="../wx/wx.xsd"/>
    <include schemaLocation="wx_areaofinterestwx.xsd"/>
    <element name="Runway" substitutionGroup="gml:AbstractFeature" type="avwx:RunwayType">
        <annotation>
            <documentation>Stand-in class for AIXM equivalent.</documentation>
        </annotation>
    </element>
    <complexType name="RunwayType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="extent">
                        <complexType>
                            <sequence>
                                <group ref="wx:ExtentOf"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="runwayDesignator" type="string"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="runwaySurfaceState" type="avwx:RunwaySurfaceStatePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="RunwayPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:Runway"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="RunwayDirection" substitutionGroup="gml:AbstractFeature" type="avwx:RunwayDirectionType">
        <annotation>
            <documentation>Direct stand-in for AIXM class of the same name; extended with property "rvr".</documentation>
        </annotation>
    </element>
    <complexType name="RunwayDirectionType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="rvr" type="avwx:RVRPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="RunwayDirectionPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:RunwayDirection"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="MeteorologicalWatchOffice" substitutionGroup="gml:AbstractFeature" type="avwx:MeteorologicalWatchOfficeType">
        <annotation>
            <documentation>Meteorological watch office (MWO).
</documentation>
        </annotation>
    </element>
    <complexType name="MeteorologicalWatchOfficeType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="position" type="gml:DirectPositionType"/>
                    <element name="icaoCode" type="string"/>
                    <element name="name" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MeteorologicalWatchOfficePropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:MeteorologicalWatchOffice"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="RunwaySurfaceState" substitutionGroup="gml:AbstractFeature" type="avwx:RunwaySurfaceStateType">
        <annotation>
            <documentation>Convenience class for properties related to the state of a runway surface.</documentation>
        </annotation>
    </element>
    <complexType name="RunwaySurfaceStateType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="frictionCoefficient">
                        <complexType>
                            <sequence>
                                <element ref="wx:Percentage"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="brakingAction" type="avwx:BrakingActionType"/>
                    <element maxOccurs="1" minOccurs="0" name="surfaceDeposit" type="avwx:SurfaceDepositPropertyType"/>
                    <element name="cleared" type="boolean"/>
                    <element name="snoclo" type="boolean"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="RunwaySurfaceStatePropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:RunwaySurfaceState"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Aircraft" substitutionGroup="gml:AbstractFeature" type="avwx:AircraftType">
        <annotation>
            <documentation>Aircraft.</documentation>
        </annotation>
    </element>
    <complexType name="AircraftType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="callsign" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AircraftPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:Aircraft"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Airspace" substitutionGroup="gml:AbstractFeature" type="avwx:AirspaceType">
        <annotation>
            <documentation>Stand-in class for AIXM equivalent.</documentation>
        </annotation>
    </element>
    <complexType name="AirspaceType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="base">
                        <complexType>
                            <sequence>
                                <element ref="wx:Distance"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="extentOf">
                        <complexType>
                            <sequence>
                                <group ref="wx:ExtentOf"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="top">
                        <complexType>
                            <sequence>
                                <element ref="wx:Distance"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="name" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="icaoCode" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AirspacePropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:Airspace"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="TropicalCycloneAdvisoryCentre" substitutionGroup="gml:AbstractFeature" type="avwx:TropicalCycloneAdvisoryCentreType">
        <annotation>
            <documentation>Tropical cyclone advisory centre (TCAC).
</documentation>
        </annotation>
    </element>
    <complexType name="TropicalCycloneAdvisoryCentreType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="position" type="gml:DirectPositionType"/>
                    <element name="icaoCode" type="string"/>
                    <element name="name" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TropicalCycloneAdvisoryCentrePropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:TropicalCycloneAdvisoryCentre"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Aerodrome" substitutionGroup="gml:AbstractFeature" type="avwx:AerodromeType">
        <annotation>
            <documentation>Stand-in class for AIXM equivalent (AirportHeliport).
</documentation>
        </annotation>
    </element>
    <complexType name="AerodromeType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="position" type="gml:DirectPositionType"/>
                    <element name="icaoCode" type="string"/>
                    <element name="name" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AerodromePropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:Aerodrome"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Sea" substitutionGroup="gml:AbstractFeature" type="avwx:SeaType"/>
    <complexType name="SeaType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="name" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SeaPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:Sea"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Route" substitutionGroup="gml:AbstractFeature" type="avwx:RouteType">
        <annotation>
            <documentation>Stand in for AIXM equivalent</documentation>
        </annotation>
    </element>
    <complexType name="RouteType">
        <complexContent>
            <extension base="gml:AbstractFeatureType"/>
        </complexContent>
    </complexType>
    <complexType name="RoutePropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:Route"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Volcano" substitutionGroup="gml:AbstractFeature" type="avwx:VolcanoType"/>
    <complexType name="VolcanoType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="summitElevation">
                        <complexType>
                            <sequence>
                                <element ref="wx:Distance"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="position" type="gml:DirectPositionType"/>
                    <element name="iavceiIdentifier" type="string"/>
                    <element name="name" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="VolcanoPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:Volcano"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="VolcanicAshAdvisoryCentre" substitutionGroup="gml:AbstractFeature" type="avwx:VolcanicAshAdvisoryCentreType">
        <annotation>
            <documentation>Volcanic ash advisory centre (VAAC).
</documentation>
        </annotation>
    </element>
    <complexType name="VolcanicAshAdvisoryCentreType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="position" type="gml:DirectPositionType"/>
                    <element name="name" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="VolcanicAshAdvisoryCentrePropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:VolcanicAshAdvisoryCentre"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="runwayDesignator" substitutionGroup="gml:AbstractGML" type="avwx:runwayDesignatorType"/>
    <complexType name="runwayDesignatorType">
        <complexContent>
            <extension base="gml:AbstractGMLType"/>
        </complexContent>
    </complexType>
    <complexType name="runwayDesignatorPropertyType">
        <sequence minOccurs="0">
            <element ref="avwx:runwayDesignator"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>