Parser/WSDL/EUR/19.5.0_2/AirspaceServices_19.5.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0"
           targetNamespace="eurocontrol/cfmu/b2b/AirspaceServices"
           xmlns:airspace="eurocontrol/cfmu/b2b/AirspaceServices"
           xmlns:common="eurocontrol/cfmu/b2b/CommonServices"
           xmlns:aixm="http://www.aixm.aero/schema/5.1"
           xmlns:adrmsg="http://www.eurocontrol.int/cfmu/b2b/ADRMessage"
           xmlns:adrext="http://www.aixm.aero/schema/5.1/extensions/EUR/ADR"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="eurocontrol/cfmu/b2b/CommonServices" schemaLocation="CommonServices_19.5.0.xsd"/>
  <xs:import namespace="http://www.aixm.aero/schema/5.1" schemaLocation="aixm/AIXM_Features.xsd"/>
  <xs:import namespace="http://www.eurocontrol.int/cfmu/b2b/ADRMessage" schemaLocation="aixm/message/ADR_Message.xsd"/>
  <xs:import namespace="http://www.aixm.aero/schema/5.1/extensions/EUR/ADR" schemaLocation="aixm/extensions/ADR-19.0.0/ADR_Features.xsd"/>
  <xs:element name="AUPChainRetrievalRequest" type="airspace:AUPChainRetrievalRequest"/>
  <xs:element name="AUPCreationRequest" type="airspace:AUPCreationRequest"/>
  <xs:element name="AUPDeletionRequest" type="airspace:AUPDeletionRequest"/>
  <xs:element name="AUPGetManageableRouteSegmentsForAMCAndRouteRequest" type="airspace:AUPGetManageableRouteSegmentsForAMCAndRouteRequest"/>
  <xs:element name="AUPGetManageableRoutesForAMCRequest" type="airspace:AUPGetManageableRoutesForAMCRequest"/>
  <xs:element name="AUPRetrievalRequest" type="airspace:AUPRetrievalRequest"/>
  <xs:element name="AUPRSAAllocationExpansionRequest" type="airspace:AUPRSAAllocationExpansionRequest"/>
  <xs:element name="AUPServiceConfigurationRequest" type="airspace:AUPServiceConfigurationRequest"/>
  <xs:element name="AUPUpdateRequest" type="airspace:AUPUpdateRequest"/>
  <xs:element name="AUPValidationRequest" type="airspace:AUPValidationRequest"/>
  <xs:element name="CapacityPlanRetrievalRequest" type="airspace:CapacityPlanRetrievalRequest"/>
  <xs:element name="CapacityPlanUpdateRequest" type="airspace:CapacityPlanUpdateRequest"/>
  <xs:element name="CompleteAIXMDatasetRequest" type="airspace:CompleteAIXMDatasetRequest"/>
  <xs:element name="EAUPCDRCompareRequest" type="airspace:EAUPCDRCompareRequest"/>
  <xs:element name="EAUPCDRRequest" type="airspace:EAUPCDRRequest"/>
  <xs:element name="EAUPChainRetrievalRequest" type="airspace:EAUPChainRetrievalRequest"/>
  <xs:element name="EAUPRSACompareRequest" type="airspace:EAUPRSACompareRequest"/>
  <xs:element name="EAUPRSARequest" type="airspace:EAUPRSARequest"/>
  <xs:element name="IncrementalAIXMDatasetRequest" type="airspace:IncrementalAIXMDatasetRequest"/>
  <xs:element name="OTMVPlanRetrievalRequest" type="airspace:OTMVPlanRetrievalRequest"/>
  <xs:element name="OTMVPlanUpdateRequest" type="airspace:OTMVPlanUpdateRequest"/>
  <xs:element name="RunwayConfigurationPlanRetrievalRequest" type="airspace:RunwayConfigurationPlanRetrievalRequest"/>
  <xs:element name="RunwayConfigurationPlanUpdateRequest" type="airspace:RunwayConfigurationPlanUpdateRequest"/>
  <xs:element name="SectorConfigurationPlanRetrievalRequest" type="airspace:SectorConfigurationPlanRetrievalRequest"/>
  <xs:element name="SectorConfigurationPlanUpdateRequest" type="airspace:SectorConfigurationPlanUpdateRequest"/>
  <xs:element name="TrafficVolumeActivationPlanRetrievalRequest" type="airspace:TrafficVolumeActivationPlanRetrievalRequest"/>
  <xs:element name="TrafficVolumeActivationPlanUpdateRequest" type="airspace:TrafficVolumeActivationPlanUpdateRequest"/>
  <xs:element name="AUPChainRetrievalReply" type="airspace:AUPChainRetrievalReply"/>
  <xs:element name="AUPCreationReply" type="airspace:AUPCreationReply"/>
  <xs:element name="AUPDeletionReply" type="airspace:AUPDeletionReply"/>
  <xs:element name="AUPGetManageableRouteSegmentsForAMCAndRouteReply" type="airspace:AUPGetManageableRouteSegmentsForAMCAndRouteReply"/>
  <xs:element name="AUPGetManageableRoutesForAMCReply" type="airspace:AUPGetManageableRoutesForAMCReply"/>
  <xs:element name="AUPRetrievalReply" type="airspace:AUPRetrievalReply"/>
  <xs:element name="AUPRSAAllocationExpansionReply" type="airspace:AUPRSAAllocationExpansionReply"/>
  <xs:element name="AUPServiceConfigurationReply" type="airspace:AUPServiceConfigurationReply"/>
  <xs:element name="AUPUpdateReply" type="airspace:AUPUpdateReply"/>
  <xs:element name="AUPValidationReply" type="airspace:AUPValidationReply"/>
  <xs:element name="CapacityPlanRetrievalReply" type="airspace:CapacityPlanRetrievalReply"/>
  <xs:element name="CapacityPlanUpdateReply" type="airspace:CapacityPlanUpdateReply"/>
  <xs:element name="CompleteAIXMDatasetReply" type="airspace:CompleteAIXMDatasetReply"/>
  <xs:element name="EAUPCDRCompareReply" type="airspace:EAUPCDRCompareReply"/>
  <xs:element name="EAUPCDRReply" type="airspace:EAUPCDRReply"/>
  <xs:element name="EAUPChainRetrievalReply" type="airspace:EAUPChainRetrievalReply"/>
  <xs:element name="EAUPRSACompareReply" type="airspace:EAUPRSACompareReply"/>
  <xs:element name="EAUPRSAReply" type="airspace:EAUPRSAReply"/>
  <xs:element name="IncrementalAIXMDatasetReply" type="airspace:IncrementalAIXMDatasetReply"/>
  <xs:element name="OTMVPlanRetrievalReply" type="airspace:OTMVPlanRetrievalReply"/>
  <xs:element name="OTMVPlanUpdateReply" type="airspace:OTMVPlanUpdateReply"/>
  <xs:element name="RunwayConfigurationPlanRetrievalReply" type="airspace:RunwayConfigurationPlanRetrievalReply"/>
  <xs:element name="RunwayConfigurationPlanUpdateReply" type="airspace:RunwayConfigurationPlanUpdateReply"/>
  <xs:element name="SectorConfigurationPlanRetrievalReply" type="airspace:SectorConfigurationPlanRetrievalReply"/>
  <xs:element name="SectorConfigurationPlanUpdateReply" type="airspace:SectorConfigurationPlanUpdateReply"/>
  <xs:element name="TrafficVolumeActivationPlanRetrievalReply" type="airspace:TrafficVolumeActivationPlanRetrievalReply"/>
  <xs:element name="TrafficVolumeActivationPlanUpdateReply" type="airspace:TrafficVolumeActivationPlanUpdateReply"/>
  <xs:simpleType name="AerodromeIATAOrICAOId">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AerodromeICAOId">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AerodromeSetId">
    <xs:restriction base="xs:string">
      <xs:pattern value=".{1,8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AIRACId">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AirspaceDataUpdateId">
    <xs:restriction base="xs:long">
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AirspaceId">
    <xs:restriction base="xs:string">
      <xs:pattern value=".{1,12}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AirSpeed_DataType">
    <xs:restriction base="xs:int">
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AUPId">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-F0-9]{24}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Capacity">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/><xs:maxExclusive value="998"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DBEPointId">
    <xs:restriction base="xs:string">
      <xs:pattern value="(([A-Z]|[0-9])|(\*)){1,5}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FIRICAOId">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FlightLevel_DataType">
    <xs:restriction base="xs:int">
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NetworkAddress_DataType">
    <xs:restriction base="xs:string">
      <xs:pattern value=".{1,8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OTMVThreshold">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0"/><xs:maxExclusive value="9998"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PublishedPointId">
    <xs:restriction base="xs:string">
      <xs:pattern value="([A-Z]|[0-9]){1,5}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RestrictionId">
    <xs:restriction base="xs:string">
      <xs:pattern value="([A-Z]|[0-9]){1,10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RouteId">
    <xs:restriction base="xs:string">
      <xs:pattern value="([A-Z]|[0-9]){1,7}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RunwayId">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9]{2}((((L)|(R))|(C))|( )){0,1})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SectorConfigurationId">
    <xs:restriction base="xs:string">
      <xs:pattern value="(([A-Z]|[0-9])|(\.)){1,6}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TrafficVolumeId">
    <xs:restriction base="xs:string">
      <xs:pattern value="([a-zA-Z]|[0-9]){1,8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TrafficVolumeIdWildcard">
    <xs:restriction base="xs:string">
      <xs:pattern value="(([a-zA-Z]|[0-9])|(\*)){1,8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TrafficVolumeSetId">
    <xs:restriction base="xs:string">
      <xs:pattern value="([a-zA-Z]|[0-9]){1,8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TrafficVolumeSetIdWildcard">
    <xs:restriction base="xs:string">
      <xs:pattern value="(([a-zA-Z]|[0-9])|(\*)){1,8}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AirspaceType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="REG"/>
                <xs:enumeration value="FIR"/>
                <xs:enumeration value="AUA"/>
                <xs:enumeration value="ES"/>
                <xs:enumeration value="CS"/>
                <xs:enumeration value="ERSA"/>
                <xs:enumeration value="CRSA"/>
                <xs:enumeration value="CDA"/>
                <xs:enumeration value="AUAG"/>
                <xs:enumeration value="AREA"/>
                <xs:enumeration value="NAS"/>
                <xs:enumeration value="IFPZ"/>
                <xs:enumeration value="AOI"/>
                <xs:enumeration value="AOP"/>
                <xs:enumeration value="CLUS"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="AIXMDatasetType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="COMPLETE"/>
                <xs:enumeration value="INCREMENTAL"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="AIXMFeatureType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="AirportHeliport"/>
                <xs:enumeration value="AirportHeliportCollocation"/>
                <xs:enumeration value="AirportHeliportSet"/>
                <xs:enumeration value="Navaid"/>
                <xs:enumeration value="DesignatedPoint"/>
                <xs:enumeration value="AngleIndication"/>
                <xs:enumeration value="DistanceIndication"/>
                <xs:enumeration value="Route"/>
                <xs:enumeration value="RouteSegment"/>
                <xs:enumeration value="StandardInstrumentDeparture"/>
                <xs:enumeration value="DepartureLeg"/>
                <xs:enumeration value="StandardInstrumentArrival"/>
                <xs:enumeration value="ArrivalLeg"/>
                <xs:enumeration value="StandardLevelColumn"/>
                <xs:enumeration value="StandardLevelTable"/>
                <xs:enumeration value="Airspace"/>
                <xs:enumeration value="OrganisationAuthority"/>
                <xs:enumeration value="Unit"/>
                <xs:enumeration value="SpecialDate"/>
                <xs:enumeration value="AirTrafficManagementService"/>
                <xs:enumeration value="FlightRestriction"/>
                <xs:enumeration value="Flow"/>
                <xs:enumeration value="ReferenceLocation"/>
                <xs:enumeration value="TrafficVolume"/>
                <xs:enumeration value="TrafficVolumeSet"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="AIXMTemporality">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="BASELINE"/>
                <xs:enumeration value="PERM_DELTA"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="AUPState">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="DRAFT"/>
                <xs:enumeration value="READY"/>
                <xs:enumeration value="RELEASED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="AUPType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="BASELINE"/>
                <xs:enumeration value="UPDATE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="ErrorCategory">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="FUA"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="ErrorType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="AUP_ALREADY_EXISTS"/>
                <xs:enumeration value="AUP_AMC_BID_NOT_FOUND"/>
                <xs:enumeration value="AUP_AMC_MUST_EXIST"/>
                <xs:enumeration value="AUP_CDR_UPDATE_AMC_NOT_RESPONSIBLE"/>
                <xs:enumeration value="AUP_CDR_UPDATE_CLOSURE_CDR_TYPE"/>
                <xs:enumeration value="AUP_CDR_UPDATE_FL_RANGE"/>
                <xs:enumeration value="AUP_CDR_UPDATE_FL_RANGE_ERROR"/>
                <xs:enumeration value="AUP_CDR_UPDATE_FL_TOO_LARGE"/>
                <xs:enumeration value="AUP_CDR_UPDATE_LOWER_CRUISING_LEVEL"/>
                <xs:enumeration value="AUP_CDR_UPDATE_LOWER_FL_NOT_CRUISING_LEVEL"/>
                <xs:enumeration value="AUP_CDR_UPDATE_NOTAM_CLOSURE"/>
                <xs:enumeration value="AUP_CDR_UPDATE_NO_CRUISING_LEVEL"/>
                <xs:enumeration value="AUP_CDR_UPDATE_OPENING_CDR_TYPE"/>
                <xs:enumeration value="AUP_CDR_UPDATE_OVERLAP"/>
                <xs:enumeration value="AUP_CDR_UPDATE_OVERLAPS_AIRAC_SWITCH"/>
                <xs:enumeration value="AUP_CDR_UPDATE_PERIOD_AUP_MISMATCH"/>
                <xs:enumeration value="AUP_CDR_UPDATE_POINT_IN_ROUTE"/>
                <xs:enumeration value="AUP_CDR_UPDATE_PTS_ROUTE"/>
                <xs:enumeration value="AUP_CDR_UPDATE_ROUTE_MUST_EXIST"/>
                <xs:enumeration value="AUP_CDR_UPDATE_STATUS_CONFLICT"/>
                <xs:enumeration value="AUP_CDR_UPDATE_UPPER_CRUISING_LEVEL"/>
                <xs:enumeration value="AUP_CDR_UPDATE_UPPER_FL_NOT_CRUISING_LEVEL"/>
                <xs:enumeration value="AUP_CDR_UPDATE_VALID_POINT_TYPES"/>
                <xs:enumeration value="AUP_CDR_UPDATE_WRONG_ROUTE_TYPE"/>
                <xs:enumeration value="AUP_DOES_NOT_EXIST"/>
                <xs:enumeration value="AUP_EMPTY"/>
                <xs:enumeration value="AUP_FL_RANGE_UOM_ERROR"/>
                <xs:enumeration value="AUP_NIL_AUP_MANUAL_MUST_BE_NULL"/>
                <xs:enumeration value="AUP_NIL_AUP_NOT_EMPTY"/>
                <xs:enumeration value="AUP_NIL_AUP_STATE"/>
                <xs:enumeration value="AUP_OUTSIDE_AVAILABILITY_PERIOD"/>
                <xs:enumeration value="AUP_RSA_ALLOCATION_AMC_NOT_RESPONSIBLE"/>
                <xs:enumeration value="AUP_RSA_ALLOCATION_COMPOSED_OVERLAP"/>
                <xs:enumeration value="AUP_RSA_ALLOCATION_FL_RANGE"/>
                <xs:enumeration value="AUP_RSA_ALLOCATION_FL_RANGE_ERROR"/>
                <xs:enumeration value="AUP_RSA_ALLOCATION_OVERLAP"/>
                <xs:enumeration value="AUP_RSA_ALLOCATION_PERIOD_AUP_MISMATCH"/>
                <xs:enumeration value="AUP_RSA_ALLOCATION_PERIOD_RSA_MISMATCH"/>
                <xs:enumeration value="AUP_RSA_ALLOCATION_RSA_MUST_EXIST"/>
                <xs:enumeration value="AUP_RSA_ALLOCATION_VERTICAL_LIMITS"/>
                <xs:enumeration value="AUP_RSA_UPDATE_OVERLAPS_AIRAC_SWITCH"/>
                <xs:enumeration value="AUP_UNDEFINED_UUP_START_TIME"/>
                <xs:enumeration value="AUP_VALID_STATUS"/>
                <xs:enumeration value="EXPAND_WRONG_PERIOD"/>
                <xs:enumeration value="INVALID_UUID"/>
                <xs:enumeration value="TIMESTAMP_MISMATCH"/>
                <xs:enumeration value="AUP_ORIGINATING_ID_INVALID"/>
                <xs:enumeration value="AUP_ORIGINATING_ID_NON_EMPTY"/>
                <xs:enumeration value="AUP_ORIGINATING_ID_EMPTY"/>
                <xs:enumeration value="AUP_ORIGINATING_ID_NON_UPDATEABLE"/>
                <xs:enumeration value="UUP_WILL_CANCEL_PREVIOUS_AUP_UUP"/>
                <xs:enumeration value="UUP_RSA_ALLOCATION_LEAD_TIME_TOO_SHORT"/>
                <xs:enumeration value="UUP_CDR_CLOSURE_LEAD_TIME_TOO_SHORT"/>
                <xs:enumeration value="UUP_CDR_RECLOSURE_LEAD_TIME_TOO_SHORT"/>
                <xs:enumeration value="UUP_CDR_RECLOSURE_FOUND"/>
                <xs:enumeration value="AUP_UUP_NO_CLOSURE_WITH_NOTAM"/>
                <xs:enumeration value="AUP_UUP_PARTIALLY_COVERED_BY_NOTAM"/>
                <xs:enumeration value="AUP_UUP_PARTIALLY_COVERS_NOTAM"/>
                <xs:enumeration value="AUP_AMC_DELEGATED_ROUTE_PORTION_NOT_USED"/>
                <xs:enumeration value="AUP_USES_ROUTE_PORTION_DELEGATED_TO_OTHER_AMC"/>
                <xs:enumeration value="AUP_INVALID_PERIOD"/>
                <xs:enumeration value="AUP_ONLY_ONE_SEGMENT_PROVIDED_AT_AIRAC_SWITCH"/>
                <xs:enumeration value="AUP_PERIOD_BETWEEN_6_AND_6_AM"/>
                <xs:enumeration value="AUP_CDR_UPDATE_OVERLAPS_BETWEEN_AMCS"/>
                <xs:enumeration value="AUP_FUA_ACTIVATION_FUA_MUST_EXIST"/>
                <xs:enumeration value="AUP_FUA_ACTIVATION_REMARK_INVALID_FORMAT"/>
                <xs:enumeration value="AUP_FUA_ACTIVATION_REMARK_TOO_LONG"/>
                <xs:enumeration value="AUP_FUA_ACTIVATION_REMARK_INVALID_CHARS"/>
                <xs:enumeration value="AUP_RSA_ALLOCATION_RSA_FBZ_OVERLAP"/>
                <xs:enumeration value="AUP_FBZ_ALLOCATION_MUST_HAVE_FUA_ALLOCATION"/>
                <xs:enumeration value="AUP_FUA_ACTIVATION_FOR_DISABLED_RESTRICTION"/>
                <xs:enumeration value="AUP_FUA_ACTIVATION_IS_NOT_RELATED_TO_RSA"/>
                <xs:enumeration value="AUP_RSA_ALLOCATION_MUST_HAVE_FUA_ALLOCATION"/>
                <xs:enumeration value="AUP_RSA_ALLOCATIONS_OVERLAP"/>
                <xs:enumeration value="AUP_RSA_ALLOCATIONS_OVERLAP_OTHER_AMC"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="FlightLevelUnit">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="F"/>
                <xs:enumeration value="A"/>
                <xs:enumeration value="S"/>
                <xs:enumeration value="M"/>
                <xs:enumeration value="SM"/>
                <xs:enumeration value="MM"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="FlightPlanProcessing">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="RAD"/>
                <xs:enumeration value="PROFILE_TUNING"/>
                <xs:enumeration value="AERODROME_FLIGHT_RULE"/>
                <xs:enumeration value="TP_AIRCRAFT_TYPE_CLASSIFICATION"/>
                <xs:enumeration value="DCT_LIMIT"/>
                <xs:enumeration value="SSR_CODE_ALLOCATION"/>
                <xs:enumeration value="FRA_DCT_LIMIT"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="LoadState">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="NORMAL"/>
                <xs:enumeration value="LOW_THRESHOLD"/>
                <xs:enumeration value="HIGH_THRESHOLD"/>
                <xs:enumeration value="OVERLOAD"/>
                <xs:enumeration value="UNDEFINED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="Network">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="AFTN"/>
                <xs:enumeration value="SITA"/>
                <xs:enumeration value="OTHER"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="PlanDataSource">
    <xs:restriction base="xs:string">
            <xs:enumeration value="NO_DATA"/>
            <xs:enumeration value="AIRSPACE"/>
            <xs:enumeration value="TACTICAL"/>
            <xs:enumeration value="MEASURE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ReferenceLocationType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="AERODROME"/>
                <xs:enumeration value="AERODROME_SET"/>
                <xs:enumeration value="AIRSPACE"/>
                <xs:enumeration value="PUBLISHED_POINT"/>
                <xs:enumeration value="DBE_POINT"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="RunwayUsage">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="DEPARTURE"/>
                <xs:enumeration value="ARRIVAL"/>
                <xs:enumeration value="DEPARTURE_ARRIVAL"/>
                <xs:enumeration value="INACTIVE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="SpeedUnit">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="UNDEFINED"/>
                <xs:enumeration value="KNOTS"/>
                <xs:enumeration value="KILOMETERS_PER_HOUR"/>
                <xs:enumeration value="MACH_NUMBER"/>
                <xs:enumeration value="FEET_PER_MINUTE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:complexType name="AbstractEAUPCDRRequest" abstract="true">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="cdrOpenings" minOccurs="0" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:boolean"></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="cdrClosures" minOccurs="0" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:boolean"></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="routeUUIDs" type="common:UUID" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="routeDesignators" minOccurs="0" maxOccurs="unbounded"><xs:simpleType><xs:restriction base="xs:string"><xs:pattern value="(([A-Z]|[0-9]){1,7}|(([A-Z]|[0-9]){1,6}(\*)))"/></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="irFilter" type="airspace:IRFilter" minOccurs="0" maxOccurs="1"/>
      <xs:element name="flightLevelRange" type="airspace:FlightLevelRange" minOccurs="0" maxOccurs="1"/>
      <xs:element name="applicability" type="common:DateTimeMinutePeriod" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AbstractEAUPRSARequest" abstract="true">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="implicit" minOccurs="0" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:boolean"></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="explicit" minOccurs="0" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:boolean"></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="rsaUUIds" type="common:UUID" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="rsaDesignators" minOccurs="0" maxOccurs="unbounded"><xs:simpleType><xs:restriction base="xs:string"><xs:pattern value="(([A-Z]|[0-9]){1,7}|(([A-Z]|[0-9]){1,6}(\*)))"/></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="irFilter" type="airspace:IRFilter" minOccurs="0" maxOccurs="1"/>
      <xs:element name="flightLevelRange" type="airspace:FlightLevelRange" minOccurs="0" maxOccurs="1"/>
      <xs:element name="applicability" type="common:DateTimeMinutePeriod" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AirSpeed" abstract="false">
    <xs:sequence>
      <xs:element name="speed" type="airspace:AirSpeed_DataType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="unit" type="airspace:SpeedUnit" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AIXMFile" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:File">
    <xs:sequence>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUP" abstract="false">
    <xs:sequence>
      <xs:element name="summary" type="airspace:AUPSummary" minOccurs="1" maxOccurs="1"/>
      <xs:element name="aupManualEntries" type="airspace:AUPManualEntries" minOccurs="0" maxOccurs="1"/>
      <xs:element name="aupComputedEntries" type="airspace:AUPComputedEntries" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AUPChain" abstract="false">
    <xs:sequence>
      <xs:element name="chainDate" type="common:DateYearMonthDay" minOccurs="1" maxOccurs="1"/>
      <xs:element name="amcId" type="common:AirNavigationUnitId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="aups" type="airspace:AUPSummary" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AUPChainRetrievalReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:AUPChainRetrievalReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPChainRetrievalReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="chains" type="airspace:AUPChain" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AUPChainRetrievalRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="amcIds" type="common:AirNavigationUnitId" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="chainDate" type="common:DateYearMonthDay" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPComputedEntries" abstract="false">
    <xs:sequence>
      <xs:element name="implicitCDRs" type="adrmsg:ADRMessageType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="mergedCDRs" type="adrmsg:ADRMessageType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="implicitRSAs" type="adrmsg:ADRMessageType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AUPCreationReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:AUPCreationReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPCreationReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="aup" type="airspace:AUP" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AUPCreationRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="aup" type="airspace:AUP" minOccurs="1" maxOccurs="1"/>
      <xs:element name="returnComputed" minOccurs="0" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:boolean"></xs:restriction></xs:simpleType></xs:element>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPDeletionReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:AUPDeletionReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPDeletionReplyData" abstract="false">
    <xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AUPDeletionRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="aupId" type="airspace:AUPId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="lastUpdate" type="common:LastUpdate" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPGetManageableRouteSegmentsForAMCAndRouteReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:AUPGetManageableRouteSegmentsForAMCAndRouteReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPGetManageableRouteSegmentsForAMCAndRouteReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="manageableRouteSegments" type="adrmsg:ADRMessageType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AUPGetManageableRouteSegmentsForAMCAndRouteRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="amcId" type="common:AirNavigationUnitId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="period" type="common:DateTimeMinutePeriod" minOccurs="1" maxOccurs="1"/>
      <xs:element name="routeUUID" type="common:UUID" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPGetManageableRoutesForAMCReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:AUPGetManageableRoutesForAMCReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPGetManageableRoutesForAMCReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="openableRouteUUIDs" type="common:UUID" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="closeableRouteUUIDs" type="common:UUID" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AUPGetManageableRoutesForAMCRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="amcId" type="common:AirNavigationUnitId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="period" type="common:DateTimeMinutePeriod" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPManualEntries" abstract="false">
    <xs:sequence>
      <xs:element name="cdrs" type="adrmsg:ADRMessageType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="rsas" type="adrmsg:ADRMessageType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AUPRetrievalReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:AUPRetrievalReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPRetrievalReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="aup" type="airspace:AUP" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AUPRetrievalRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="aupId" type="airspace:AUPId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="returnComputed" minOccurs="0" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:boolean"></xs:restriction></xs:simpleType></xs:element>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPRSAAllocationExpansionReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:AUPRSAAllocationExpansionReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPRSAAllocationExpansionReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="implicitCDRs" type="adrmsg:ADRMessageType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AUPRSAAllocationExpansionRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="rsaAllocations" type="adrmsg:ADRMessageType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="expansionPeriod" type="common:DateTimeMinutePeriod" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPServiceConfigurationReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:AUPServiceConfigurationReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPServiceConfigurationReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="plannedUpdateStartTimes" type="common:DateTimeMinute" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AUPServiceConfigurationRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPSummary" abstract="false">
    <xs:sequence>
      <xs:element name="id" type="airspace:AUPId" minOccurs="0" maxOccurs="1"/>
      <xs:element name="originatingAupId" type="airspace:AUPId" minOccurs="0" maxOccurs="1"/>
      <xs:element name="chainDate" type="common:DateYearMonthDay" minOccurs="1" maxOccurs="1"/>
      <xs:element name="amcId" type="common:AirNavigationUnitId" minOccurs="0" maxOccurs="1"/>
      <xs:element name="aupType" type="airspace:AUPType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="validityPeriod" type="common:DateTimeMinutePeriod" minOccurs="1" maxOccurs="1"/>
      <xs:element name="releaseTime" type="common:DateTimeMinute" minOccurs="0" maxOccurs="1"/>
      <xs:element name="aupState" type="airspace:AUPState" minOccurs="1" maxOccurs="1"/>
      <xs:element name="nilAUP" minOccurs="1" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:boolean"></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="remark" minOccurs="1" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:string"><xs:pattern value="((([A-Z]|[0-9])|(/))|( )){0,128}"/></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="note" minOccurs="0" maxOccurs="25"><xs:simpleType><xs:restriction base="xs:string"><xs:pattern value="(([A-Z]|[0-9])|( )){0,60}"/></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="expandedAUP" minOccurs="1" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:boolean"></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="lastUpdate" type="common:LastUpdate" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AUPUpdateReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:AUPUpdateReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPUpdateReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="aup" type="airspace:AUP" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AUPUpdateRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="aup" type="airspace:AUP" minOccurs="1" maxOccurs="1"/>
      <xs:element name="returnComputed" minOccurs="0" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:boolean"></xs:restriction></xs:simpleType></xs:element>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPValidationReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:AUPValidationReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AUPValidationReplyData" abstract="false">
    <xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AUPValidationRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="aup" type="airspace:AUP" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CapacityPlan" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:TacticalConfigurationPlan">
    <xs:sequence>
      <xs:element name="trafficVolume" type="airspace:TrafficVolumeId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="nmSchedule" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="airspace:PlannedCapacity" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
      <xs:element name="clientSchedule" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="airspace:PlannedCapacity" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CapacityPlanRetrievalReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:CapacityPlanRetrievalReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CapacityPlanRetrievalReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="plan" type="airspace:CapacityPlan" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CapacityPlanRetrievalRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:TacticalConfigurationRetrievalRequest">
    <xs:sequence>
      <xs:element name="trafficVolume" type="airspace:TrafficVolumeId" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CapacityPlanUpdateReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:CapacityPlanUpdateReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CapacityPlanUpdateReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="plan" type="airspace:CapacityPlan" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CapacityPlanUpdateRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="plan" type="airspace:CapacityPlan" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CompleteAIXMDatasetReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:CompleteAIXMDatasetReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CompleteAIXMDatasetReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="datasetSummaries" type="airspace:CompleteDatasetSummary" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompleteAIXMDatasetRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="queryCriteria" type="airspace:CompleteDatasetQueryCriteria" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CompleteDatasetSummary" abstract="false">
    <xs:sequence>
      <xs:element name="updateId" type="airspace:AirspaceDataUpdateId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="publicationDate" type="common:DateYearMonthDay" minOccurs="1" maxOccurs="1"/>
      <xs:element name="sourceAIRACs" type="airspace:AiracIdentifier" minOccurs="1" maxOccurs="2"/>
      <xs:element name="files" type="airspace:AIXMFile" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DBEPoint" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:NonPublishedPoint">
    <xs:sequence>
      <xs:element name="dbePointId" type="airspace:DBEPointId" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EAUPCDRCompareReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:EAUPCDRCompareReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EAUPCDRCompareReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="commonCDROpeningsClosures" type="adrmsg:ADRMessageType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="cdrOpeningsClosuresIn1Only" type="adrmsg:ADRMessageType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="cdrOpeningsClosuresIn2Only" type="adrmsg:ADRMessageType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EAUPCDRCompareRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:AbstractEAUPCDRRequest">
    <xs:sequence>
      <xs:element name="eaupId1" type="airspace:EAUPIdentification" minOccurs="1" maxOccurs="1"/>
      <xs:element name="eaupId2" type="airspace:EAUPIdentification" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EAUPCDRReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:EAUPCDRReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EAUPCDRReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="cdrOpeningsClosures" type="adrmsg:ADRMessageType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EAUPCDRRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:AbstractEAUPCDRRequest">
    <xs:sequence>
      <xs:element name="eaupId" type="airspace:EAUPIdentification" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EAUPChain" abstract="false">
    <xs:sequence>
      <xs:element name="chainDate" type="common:DateYearMonthDay" minOccurs="1" maxOccurs="1"/>
      <xs:element name="eaups" type="airspace:EAUPSummary" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EAUPChainRetrievalReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:EAUPChainRetrievalReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EAUPChainRetrievalReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="chain" type="airspace:EAUPChain" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EAUPChainRetrievalRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="chainDate" type="common:DateYearMonthDay" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EAUPIdentification" abstract="false">
    <xs:sequence>
      <xs:element name="chainDate" type="common:DateYearMonthDay" minOccurs="1" maxOccurs="1"/>
      <xs:element name="sequenceNumber" minOccurs="1" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:int"><xs:minInclusive value="0"/></xs:restriction></xs:simpleType></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EAUPRSACompareReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:EAUPRSACompareReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EAUPRSACompareReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="commonRSAAllocations" type="adrmsg:ADRMessageType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="rsaAllocationsIn1Only" type="adrmsg:ADRMessageType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="rsaAllocationsIn2Only" type="adrmsg:ADRMessageType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EAUPRSACompareRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:AbstractEAUPRSARequest">
    <xs:sequence>
      <xs:element name="eaupId1" type="airspace:EAUPIdentification" minOccurs="1" maxOccurs="1"/>
      <xs:element name="eaupId2" type="airspace:EAUPIdentification" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EAUPRSAReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:EAUPRSAReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EAUPRSAReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="rsaAllocations" type="adrmsg:ADRMessageType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EAUPRSARequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:AbstractEAUPRSARequest">
    <xs:sequence>
      <xs:element name="eaupId" type="airspace:EAUPIdentification" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EAUPSummary" abstract="false">
    <xs:sequence>
      <xs:element name="releaseTime" type="common:DateTimeMinute" minOccurs="1" maxOccurs="1"/>
      <xs:element name="validityPeriod" type="common:DateTimeMinutePeriod" minOccurs="1" maxOccurs="1"/>
      <xs:element name="eaupId" type="airspace:EAUPIdentification" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FlightLevel" abstract="false">
    <xs:sequence>
      <xs:element name="unit" type="airspace:FlightLevelUnit" minOccurs="1" maxOccurs="1"/>
      <xs:element name="level" type="airspace:FlightLevel_DataType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ground" minOccurs="0" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:boolean"></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="ceiling" minOccurs="0" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:boolean"></xs:restriction></xs:simpleType></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FlightLevelRange" abstract="false">
    <xs:sequence>
      <xs:element name="min" type="airspace:FlightLevel" minOccurs="1" maxOccurs="1"/>
      <xs:element name="max" type="airspace:FlightLevel" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GeoPoint" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:NonPublishedPoint">
    <xs:sequence>
      <xs:element name="position" type="common:Position" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IncrementalAIXMDatasetReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:IncrementalAIXMDatasetReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IncrementalAIXMDatasetReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="datasetSummaries" type="airspace:IncrementalDatasetSummary" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IncrementalAIXMDatasetRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="queryCriteria" type="airspace:IncrementalDatasetQueryCriteria" minOccurs="1" maxOccurs="1"/>
      <xs:element name="timesliceType" type="airspace:AIXMTemporality" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IncrementalDatasetSummary" abstract="false">
    <xs:sequence>
      <xs:element name="updateId" type="airspace:AirspaceDataUpdateId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="previousUpdateId" type="airspace:AirspaceDataUpdateId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="publicationDate" type="common:DateYearMonthDay" minOccurs="1" maxOccurs="1"/>
      <xs:element name="sourceAIRACs" type="airspace:AiracIdentifier" minOccurs="1" maxOccurs="2"/>
      <xs:element name="files" type="airspace:AIXMFile" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="affectedFeatures" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" minOccurs="0" maxOccurs="unbounded"><xs:complexType><xs:sequence><xs:element name="key" type="airspace:AIXMFeatureType" minOccurs="1" maxOccurs="1"/><xs:element name="value" minOccurs="1" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:int"><xs:minInclusive value="0"/></xs:restriction></xs:simpleType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IRDesignatorFilter" abstract="false">
    <xs:sequence>
      <xs:element name="firDesignators" minOccurs="0" maxOccurs="unbounded"><xs:simpleType><xs:restriction base="xs:string"><xs:pattern value="([A-Z]{4}|([A-Z]{1,3}(\*)))"/></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="uirDesignators" minOccurs="0" maxOccurs="unbounded"><xs:simpleType><xs:restriction base="xs:string"><xs:pattern value="([A-Z]{4}|([A-Z]{1,3}(\*)))"/></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="logicalOperator" type="common:LogicalOperator" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IRUUIDFilter" abstract="false">
    <xs:sequence>
      <xs:element name="firUUIDs" type="common:UUID" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="uirUUIDs" type="common:UUID" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="logicalOperator" type="common:LogicalOperator" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NetworkAddress" abstract="false">
    <xs:sequence>
      <xs:element name="network" type="airspace:Network" minOccurs="1" maxOccurs="1"/>
      <xs:element name="address" type="airspace:NetworkAddress_DataType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NonPublishedPoint" abstract="true">
    <xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OTMV" abstract="false">
    <xs:sequence>
      <xs:element name="trafficVolume" type="airspace:TrafficVolumeId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="otmvDuration" type="common:DurationHourMinute" minOccurs="1" maxOccurs="1"/>
      <xs:element name="peak" type="airspace:OTMVPeak" minOccurs="0" maxOccurs="1"/>
      <xs:element name="sustained" type="airspace:OTMVSustained" minOccurs="0" maxOccurs="1"/>
      <xs:element name="remark" minOccurs="0" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:string"><xs:pattern value="[a-zA-Z0-9_ \-\+\\\|\*=,.;:?!'@#$%^\(\)\[\]\{\}]{1,255}"/></xs:restriction></xs:simpleType></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OTMVPeak" abstract="false">
    <xs:sequence>
      <xs:element name="threshold" type="airspace:OTMVThreshold" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OTMVPlan" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:TacticalConfigurationPlan">
    <xs:sequence>
      <xs:element name="trafficVolume" type="airspace:TrafficVolumeId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="otmvPlans" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" minOccurs="0" maxOccurs="unbounded"><xs:complexType><xs:sequence><xs:element name="key" type="common:DurationHourMinute" minOccurs="1" maxOccurs="1"/><xs:element name="value" type="airspace:OTMVPlanForDuration" minOccurs="1" maxOccurs="1"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OTMVPlanForDuration" abstract="false">
    <xs:sequence>
      <xs:element name="nmSchedule" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="airspace:PlannedOTMV" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
      <xs:element name="clientSchedule" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="airspace:PlannedOTMV" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OTMVPlanRetrievalReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:OTMVPlanRetrievalReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OTMVPlanRetrievalReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="plan" type="airspace:OTMVPlan" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OTMVPlanRetrievalRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:TacticalConfigurationRetrievalRequest">
    <xs:sequence>
      <xs:element name="trafficVolume" type="airspace:TrafficVolumeId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="otmvDuration" type="common:DurationHourMinute" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OTMVPlanUpdateReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:OTMVPlanUpdateReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OTMVPlanUpdateReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="plan" type="airspace:OTMVPlan" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OTMVPlanUpdateRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="plan" type="airspace:OTMVPlan" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OTMVSustained" abstract="false">
    <xs:sequence>
      <xs:element name="threshold" type="airspace:OTMVThreshold" minOccurs="1" maxOccurs="1"/>
      <xs:element name="crossingOccurrences" minOccurs="1" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:int"><xs:minInclusive value="1"/><xs:maxExclusive value="9999"/></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="elapsed" type="common:DurationHourMinute" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlannedCapacity" abstract="false">
    <xs:sequence>
      <xs:element name="applicabilityPeriod" type="common:DateTimeMinutePeriod" minOccurs="1" maxOccurs="1"/>
      <xs:element name="dataSource" type="airspace:PlanDataSource" minOccurs="1" maxOccurs="1"/>
      <xs:element name="capacity" type="airspace:Capacity" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlannedOTMV" abstract="false">
    <xs:sequence>
      <xs:element name="applicabilityPeriod" type="common:DateTimeMinutePeriod" minOccurs="1" maxOccurs="1"/>
      <xs:element name="dataSource" type="airspace:PlanDataSource" minOccurs="1" maxOccurs="1"/>
      <xs:element name="otmv" type="airspace:OTMV" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlannedRunwayConfigurations" abstract="false">
    <xs:sequence>
      <xs:element name="applicabilityPeriod" type="common:DateTimeMinutePeriod" minOccurs="1" maxOccurs="1"/>
      <xs:element name="dataSource" type="airspace:PlanDataSource" minOccurs="1" maxOccurs="1"/>
      <xs:element name="runwayConfigurations" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="airspace:RunwayConfiguration" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlannedSectorConfigurationActivation" abstract="false">
    <xs:sequence>
      <xs:element name="applicabilityPeriod" type="common:DateTimeMinutePeriod" minOccurs="1" maxOccurs="1"/>
      <xs:element name="dataSource" type="airspace:PlanDataSource" minOccurs="1" maxOccurs="1"/>
      <xs:element name="sectorConfigurationId" type="airspace:SectorConfigurationId" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlannedTrafficVolumeActivation" abstract="false">
    <xs:sequence>
      <xs:element name="applicabilityPeriod" type="common:DateTimeMinutePeriod" minOccurs="1" maxOccurs="1"/>
      <xs:element name="dataSource" type="airspace:PlanDataSource" minOccurs="1" maxOccurs="1"/>
      <xs:element name="active" minOccurs="0" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:boolean"></xs:restriction></xs:simpleType></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProcedureICAOId" abstract="false">
    <xs:sequence>
      <xs:element name="endPoint" type="airspace:PublishedPointId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="versionNumber" minOccurs="1" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:int"></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="routeIndicator" minOccurs="1" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:string"></xs:restriction></xs:simpleType></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceLocation" abstract="true">
    <xs:sequence>
      <xs:element name="type" type="airspace:ReferenceLocationType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenceLocationAerodrome" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:ReferenceLocation">
    <xs:sequence>
      <xs:element name="id" type="airspace:AerodromeICAOId" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReferenceLocationAerodromeSet" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:ReferenceLocation">
    <xs:sequence>
      <xs:element name="id" type="airspace:AerodromeSetId" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReferenceLocationAirspace" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:ReferenceLocation">
    <xs:sequence>
      <xs:element name="id" type="airspace:AirspaceId" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReferenceLocationDBEPoint" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:ReferenceLocation">
    <xs:sequence>
      <xs:element name="id" type="airspace:DBEPointId" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReferenceLocationPublishedPoint" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:ReferenceLocation">
    <xs:sequence>
      <xs:element name="id" type="airspace:PublishedPointId" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReferencePoint" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:NonPublishedPoint">
    <xs:sequence>
      <xs:element name="reference" type="airspace:PublishedPointId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="bearing" type="common:Bearing" minOccurs="1" maxOccurs="1"/>
      <xs:element name="distance" type="common:DistanceNM" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RunwayConfiguration" abstract="false">
    <xs:sequence>
      <xs:element name="runway" type="airspace:RunwayId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="usage" type="airspace:RunwayUsage" minOccurs="0" maxOccurs="1"/>
      <xs:element name="runwayUsageDataSource" type="airspace:PlanDataSource" minOccurs="1" maxOccurs="1"/>
      <xs:element name="departureTaxiTime" type="common:DurationHourMinute" minOccurs="0" maxOccurs="1"/>
      <xs:element name="departureTaxiTimeDataSource" type="airspace:PlanDataSource" minOccurs="1" maxOccurs="1"/>
      <xs:element name="timeToInsertInSequence" type="common:DurationHourMinute" minOccurs="0" maxOccurs="1"/>
      <xs:element name="timeToInsertInSequenceDataSource" type="airspace:PlanDataSource" minOccurs="1" maxOccurs="1"/>
      <xs:element name="timeToRemoveFromSequence" type="common:DurationHourMinute" minOccurs="0" maxOccurs="1"/>
      <xs:element name="timeToRemoveFromSequenceDataSource" type="airspace:PlanDataSource" minOccurs="1" maxOccurs="1"/>
      <xs:element name="arrivalTaxiTime" type="common:DurationHourMinute" minOccurs="0" maxOccurs="1"/>
      <xs:element name="arrivalTaxiTimeDataSource" type="airspace:PlanDataSource" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RunwayConfigurationPlan" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:TacticalConfigurationPlan">
    <xs:sequence>
      <xs:element name="aerodrome" type="airspace:AerodromeICAOId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="knownRunwayIds" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="airspace:RunwayId" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
      <xs:element name="nmSchedule" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="airspace:PlannedRunwayConfigurations" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
      <xs:element name="clientSchedule" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="airspace:PlannedRunwayConfigurations" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RunwayConfigurationPlanRetrievalReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:RunwayConfigurationPlanRetrievalReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RunwayConfigurationPlanRetrievalReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="plan" type="airspace:RunwayConfigurationPlan" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RunwayConfigurationPlanRetrievalRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:TacticalConfigurationRetrievalRequest">
    <xs:sequence>
      <xs:element name="aerodrome" type="airspace:AerodromeICAOId" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RunwayConfigurationPlanUpdateReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:RunwayConfigurationPlanUpdateReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RunwayConfigurationPlanUpdateReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="plan" type="airspace:RunwayConfigurationPlan" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RunwayConfigurationPlanUpdateRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="plan" type="airspace:RunwayConfigurationPlan" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SectorConfigurationPlan" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:TacticalConfigurationPlan">
    <xs:sequence>
      <xs:element name="airspace" type="airspace:AirspaceId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="knownConfigurations" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" minOccurs="0" maxOccurs="unbounded"><xs:complexType><xs:sequence><xs:element name="key" type="airspace:SectorConfigurationId" minOccurs="0" maxOccurs="1"/><xs:element name="value" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="airspace:AirspaceId" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element>
      <xs:element name="nmSchedule" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="airspace:PlannedSectorConfigurationActivation" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
      <xs:element name="clientSchedule" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="airspace:PlannedSectorConfigurationActivation" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SectorConfigurationPlanRetrievalReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:SectorConfigurationPlanRetrievalReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SectorConfigurationPlanRetrievalReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="plan" type="airspace:SectorConfigurationPlan" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SectorConfigurationPlanRetrievalRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:TacticalConfigurationRetrievalRequest">
    <xs:sequence>
      <xs:element name="airspace" type="airspace:AirspaceId" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SectorConfigurationPlanUpdateReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:SectorConfigurationPlanUpdateReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SectorConfigurationPlanUpdateReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="plan" type="airspace:SectorConfigurationPlan" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SectorConfigurationPlanUpdateRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="plan" type="airspace:SectorConfigurationPlan" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TacticalConfigurationPlan" abstract="true">
    <xs:sequence>
      <xs:element name="dataId" type="common:PlanDataId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="dataset" type="common:Dataset" minOccurs="1" maxOccurs="1"/>
      <xs:element name="day" type="common:DateYearMonthDay" minOccurs="1" maxOccurs="1"/>
      <xs:element name="planTransferred" minOccurs="0" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:boolean"></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="planCutOffReached" minOccurs="0" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:boolean"></xs:restriction></xs:simpleType></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TacticalConfigurationRetrievalRequest" abstract="true">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="dataset" type="common:Dataset" minOccurs="1" maxOccurs="1"/>
      <xs:element name="day" type="common:DateYearMonthDay" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrafficVolumeActivationPlan" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:TacticalConfigurationPlan">
    <xs:sequence>
      <xs:element name="trafficVolume" type="airspace:TrafficVolumeId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="nmSchedule" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="airspace:PlannedTrafficVolumeActivation" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
      <xs:element name="clientSchedule" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="airspace:PlannedTrafficVolumeActivation" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrafficVolumeActivationPlanRetrievalReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:TrafficVolumeActivationPlanRetrievalReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrafficVolumeActivationPlanRetrievalReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="plan" type="airspace:TrafficVolumeActivationPlan" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrafficVolumeActivationPlanRetrievalRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="airspace:TacticalConfigurationRetrievalRequest">
    <xs:sequence>
      <xs:element name="trafficVolume" type="airspace:TrafficVolumeId" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrafficVolumeActivationPlanUpdateReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="airspace:TrafficVolumeActivationPlanUpdateReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrafficVolumeActivationPlanUpdateReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="plan" type="airspace:TrafficVolumeActivationPlan" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrafficVolumeActivationPlanUpdateRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="plan" type="airspace:TrafficVolumeActivationPlan" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AiracIdentifier">
    <xs:choice>
      <xs:element name="airacId" type="airspace:AIRACId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="airacSequenceNumber" minOccurs="1" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:int"></xs:restriction></xs:simpleType></xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AirSpeedOrInitial">
    <xs:choice>
      <xs:element name="INITIAL" minOccurs="1" maxOccurs="1" nillable="true"><xs:complexType><xs:sequence></xs:sequence></xs:complexType></xs:element>
      <xs:element name="AIR_SPEED" type="airspace:AirSpeed" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CompleteDatasetQueryCriteria">
    <xs:choice>
      <xs:element name="airac" type="airspace:AiracIdentifier" minOccurs="1" maxOccurs="1"/>
      <xs:element name="date" type="common:DateYearMonthDay" minOccurs="1" maxOccurs="1"/>
      <xs:element name="publicationPeriod" type="common:DateYearMonthDayPeriod" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DBEOrPublishedPointId">
    <xs:choice>
      <xs:element name="DBE" type="airspace:DBEPointId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="PUBLISHED" type="airspace:PublishedPointId" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="FlightLevelOrInitial">
    <xs:choice>
      <xs:element name="INITIAL" minOccurs="1" maxOccurs="1" nillable="true"><xs:complexType><xs:sequence></xs:sequence></xs:complexType></xs:element>
      <xs:element name="FLIGHT_LEVEL" type="airspace:FlightLevel" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ICAOPoint">
    <xs:choice>
      <xs:element name="pointId" type="airspace:PublishedPointId" minOccurs="1" maxOccurs="1"/>
      <xs:choice minOccurs="1" maxOccurs="1"><xs:element name="nonPublishedPoint-DBEPoint" type="airspace:DBEPoint"/><xs:element name="nonPublishedPoint-ReferencePoint" type="airspace:ReferencePoint"/><xs:element name="nonPublishedPoint-GeoPoint" type="airspace:GeoPoint"/></xs:choice>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="IncrementalDatasetQueryCriteria">
    <xs:choice>
      <xs:element name="lastKnownUpdateId" type="airspace:AirspaceDataUpdateId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="airac" type="airspace:AiracIdentifier" minOccurs="1" maxOccurs="1"/>
      <xs:element name="date" type="common:DateYearMonthDay" minOccurs="1" maxOccurs="1"/>
      <xs:element name="publicationPeriod" type="common:DateYearMonthDayPeriod" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="IRFilter">
    <xs:choice>
      <xs:element name="irUUIDFilter" type="airspace:IRUUIDFilter" minOccurs="1" maxOccurs="1"/>
      <xs:element name="irDesignatorFilter" type="airspace:IRDesignatorFilter" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
</xs:schema>
