Parser/WSDL/EUR/19.5.0_2/PublishsubscribeServices_19.5.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0"
           targetNamespace="eurocontrol/cfmu/b2b/PublishsubscribeServices"
           xmlns:publishsubscribe="eurocontrol/cfmu/b2b/PublishsubscribeServices"
           xmlns:common="eurocontrol/cfmu/b2b/CommonServices"
           xmlns:adrmsg="http://www.eurocontrol.int/cfmu/b2b/ADRMessage"
           xmlns:airspace="eurocontrol/cfmu/b2b/AirspaceServices"
           xmlns:flow="eurocontrol/cfmu/b2b/FlowServices"
           xmlns:flight="eurocontrol/cfmu/b2b/FlightServices"
           xmlns:generalinformation="eurocontrol/cfmu/b2b/GeneralinformationServices"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="eurocontrol/cfmu/b2b/CommonServices" schemaLocation="CommonServices_19.5.0.xsd"/>
  <xs:import namespace="http://www.eurocontrol.int/cfmu/b2b/ADRMessage" schemaLocation="aixm/message/ADR_Message.xsd"/>
  <xs:import namespace="eurocontrol/cfmu/b2b/AirspaceServices" schemaLocation="AirspaceServices_19.5.0.xsd"/>
  <xs:import namespace="eurocontrol/cfmu/b2b/FlowServices" schemaLocation="FlowServices_19.5.0.xsd"/>
  <xs:import namespace="eurocontrol/cfmu/b2b/FlightServices" schemaLocation="FlightServices_19.5.0.xsd"/>
  <xs:import namespace="eurocontrol/cfmu/b2b/GeneralinformationServices" schemaLocation="GeneralinformationServices_19.5.0.xsd"/>
  <xs:element name="MessagePullRequest" type="publishsubscribe:MessagePullRequest"/>
  <xs:element name="SubscriptionCreationRequest" type="publishsubscribe:SubscriptionCreationRequest"/>
  <xs:element name="SubscriptionDeletionRequest" type="publishsubscribe:SubscriptionDeletionRequest"/>
  <xs:element name="SubscriptionHistoryRequest" type="publishsubscribe:SubscriptionHistoryRequest"/>
  <xs:element name="SubscriptionListRequest" type="publishsubscribe:SubscriptionListRequest"/>
  <xs:element name="SubscriptionPauseRequest" type="publishsubscribe:SubscriptionPauseRequest"/>
  <xs:element name="SubscriptionResumeRequest" type="publishsubscribe:SubscriptionResumeRequest"/>
  <xs:element name="SubscriptionRetrievalRequest" type="publishsubscribe:SubscriptionRetrievalRequest"/>
  <xs:element name="MessagePullReply" type="publishsubscribe:MessagePullReply"/>
  <xs:element name="SubscriptionCreationReply" type="publishsubscribe:SubscriptionCreationReply"/>
  <xs:element name="SubscriptionDeletionReply" type="publishsubscribe:SubscriptionDeletionReply"/>
  <xs:element name="SubscriptionHistoryReply" type="publishsubscribe:SubscriptionHistoryReply"/>
  <xs:element name="SubscriptionListReply" type="publishsubscribe:SubscriptionListReply"/>
  <xs:element name="SubscriptionPauseReply" type="publishsubscribe:SubscriptionPauseReply"/>
  <xs:element name="SubscriptionResumeReply" type="publishsubscribe:SubscriptionResumeReply"/>
  <xs:element name="SubscriptionRetrievalReply" type="publishsubscribe:SubscriptionRetrievalReply"/>
  <xs:element name="AIMMessage" type="publishsubscribe:AIMMessage"/>
  <xs:element name="AIXMDatasetMessage" type="publishsubscribe:AIXMDatasetMessage"/>
  <xs:element name="EAUPMessage" type="publishsubscribe:EAUPMessage"/>
  <xs:element name="RegulationMessage" type="publishsubscribe:RegulationMessage"/>
  <xs:element name="SubscriptionTechnicalMessage" type="publishsubscribe:SubscriptionTechnicalMessage"/>
  <xs:simpleType name="PSMessageElement">
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="QueueName">
    <xs:restriction base="xs:string">
      <xs:pattern value=".{1,200}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PSMessageType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="TECHNICAL_MESSAGE"/>
                <xs:enumeration value="BUSINESS_MESSAGE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="SubscriptionState">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="ACTIVE"/>
                <xs:enumeration value="PAUSED"/>
                <xs:enumeration value="SUSPENDED_ACTIVE"/>
                <xs:enumeration value="SUSPENDED_PAUSED"/>
                <xs:enumeration value="DELETED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="SubscriptionTopic">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="ATM_INFORMATION"/>
                <xs:enumeration value="AIXM_DATASETS"/>
                <xs:enumeration value="REGULATIONS"/>
                <xs:enumeration value="EAUP"/>
              </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="TechnicalTopic">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
                <xs:enumeration value="SUBSCRIPTION"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="OTHER:[a-zA-Z_][a-zA-Z0-9_]*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:complexType name="AIMMessage" abstract="false">
    <xs:complexContent>
      <xs:extension base="publishsubscribe:BusinessPSMessage">
    <xs:sequence>
      <xs:element name="payload" type="generalinformation:AIM" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AIXMDatasetMessage" abstract="false">
    <xs:complexContent>
      <xs:extension base="publishsubscribe:BusinessPSMessage">
    <xs:sequence>
      <xs:element name="payload" type="publishsubscribe:AIXMDatasetMessagePayload" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AIXMDatasetMessageFilter" abstract="false">
    <xs:complexContent>
      <xs:extension base="publishsubscribe:SubscriptionMessageFilter">
    <xs:sequence>
      <xs:element name="datasetTypes" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="airspace:AIXMDatasetType" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BusinessPSMessage" abstract="true">
    <xs:complexContent>
      <xs:extension base="publishsubscribe:PSMessage">
    <xs:sequence>
      <xs:element name="topic" type="publishsubscribe:SubscriptionTopic" minOccurs="1" maxOccurs="1"/>
      <xs:element name="subscriptionUuid" type="common:UUID" minOccurs="0" maxOccurs="1"/>
      <xs:element name="parentMessageId" minOccurs="1" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:string"></xs:restriction></xs:simpleType></xs:element>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EAUPMessage" abstract="false">
    <xs:complexContent>
      <xs:extension base="publishsubscribe:BusinessPSMessage">
    <xs:sequence>
      <xs:element name="summary" type="airspace:EAUPSummary" minOccurs="1" maxOccurs="1"/>
      <xs:element name="cdrOpeningsClosures" type="adrmsg:ADRMessageType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="rsaAllocations" type="adrmsg:ADRMessageType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MessagePullReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="publishsubscribe:MessagePullReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MessagePullReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="marshalledMessages" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="publishsubscribe:PSMessageElement" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
      <xs:element name="hasMoreMessages" minOccurs="1" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:boolean"></xs:restriction></xs:simpleType></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessagePullRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="queueName" type="publishsubscribe:QueueName" minOccurs="1" maxOccurs="1"/>
      <xs:element name="maxSize" minOccurs="1" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:int"><xs:minInclusive value="1"/><xs:maxInclusive value="1000"/></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="destructive" minOccurs="1" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:boolean"></xs:restriction></xs:simpleType></xs:element>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PSMessage" abstract="true">
    <xs:sequence>
      <xs:element name="uuid" type="common:UUID" minOccurs="1" maxOccurs="1"/>
      <xs:element name="timestamp" type="common:Timestamp" minOccurs="1" maxOccurs="1"/>
      <xs:element name="type" type="publishsubscribe:PSMessageType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegulationMessage" abstract="false">
    <xs:complexContent>
      <xs:extension base="publishsubscribe:BusinessPSMessage">
    <xs:sequence>
      <xs:element name="payload" type="flow:Regulation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegulationMessageFilter" abstract="false">
    <xs:complexContent>
      <xs:extension base="publishsubscribe:SubscriptionMessageFilter">
    <xs:sequence>
      <xs:element name="tvs" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="airspace:TrafficVolumeIdWildcard" minOccurs="0" maxOccurs="20"/></xs:sequence></xs:complexType></xs:element>
      <xs:element name="tvSets" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="airspace:TrafficVolumeSetIdWildcard" minOccurs="0" maxOccurs="20"/></xs:sequence></xs:complexType></xs:element>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegulationPayloadConfiguration" abstract="false">
    <xs:complexContent>
      <xs:extension base="publishsubscribe:SubscriptionPayloadConfiguration">
    <xs:sequence>
      <xs:element name="regulationFields" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="flow:RegulationField" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Subscription" abstract="false">
    <xs:sequence>
      <xs:element name="uuid" type="common:UUID" minOccurs="1" maxOccurs="1"/>
      <xs:element name="release" type="common:NMRelease" minOccurs="1" maxOccurs="1"/>
      <xs:element name="anuId" type="common:AirNavigationUnitId" minOccurs="1" maxOccurs="1"/>
      <xs:element name="queueName" type="publishsubscribe:QueueName" minOccurs="1" maxOccurs="1"/>
      <xs:element name="topic" type="publishsubscribe:SubscriptionTopic" minOccurs="1" maxOccurs="1"/>
      <xs:element name="state" type="publishsubscribe:SubscriptionState" minOccurs="1" maxOccurs="1"/>
      <xs:element name="description" minOccurs="0" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:string"><xs:pattern value=".{1,500}"/></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="creationDate" type="common:DateTimeSecond" minOccurs="1" maxOccurs="1"/>
      <xs:element name="lastUpdatedBy" minOccurs="1" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:string"><xs:pattern value=".{1,100}"/></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="lastUpdatedOn" type="common:Timestamp" minOccurs="1" maxOccurs="1"/>
      <xs:choice minOccurs="0" maxOccurs="1"><xs:element name="messageFilter-AIXMDatasetMessageFilter" type="publishsubscribe:AIXMDatasetMessageFilter"/><xs:element name="messageFilter-RegulationMessageFilter" type="publishsubscribe:RegulationMessageFilter"/></xs:choice>
      <xs:choice minOccurs="0" maxOccurs="1"><xs:element name="payloadConfiguration-RegulationPayloadConfiguration" type="publishsubscribe:RegulationPayloadConfiguration"/></xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriptionCreationReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="publishsubscribe:SubscriptionCreationReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubscriptionCreationReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="subscription" type="publishsubscribe:Subscription" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriptionCreationRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="topic" type="publishsubscribe:SubscriptionTopic" minOccurs="1" maxOccurs="1"/>
      <xs:element name="description" minOccurs="0" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:string"><xs:pattern value=".{1,500}"/></xs:restriction></xs:simpleType></xs:element>
      <xs:choice minOccurs="0" maxOccurs="1"><xs:element name="messageFilter-AIXMDatasetMessageFilter" type="publishsubscribe:AIXMDatasetMessageFilter"/><xs:element name="messageFilter-RegulationMessageFilter" type="publishsubscribe:RegulationMessageFilter"/></xs:choice>
      <xs:choice minOccurs="0" maxOccurs="1"><xs:element name="payloadConfiguration-RegulationPayloadConfiguration" type="publishsubscribe:RegulationPayloadConfiguration"/></xs:choice>
      <xs:element name="queueName" type="publishsubscribe:QueueName" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubscriptionDeletionReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="publishsubscribe:SubscriptionDeletionReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubscriptionDeletionReplyData" abstract="false">
    <xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriptionDeletionRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="uuid" type="common:UUID" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubscriptionHistoryItem" abstract="false">
    <xs:sequence>
      <xs:element name="uuid" type="common:UUID" minOccurs="1" maxOccurs="1"/>
      <xs:element name="state" type="publishsubscribe:SubscriptionState" minOccurs="1" maxOccurs="1"/>
      <xs:element name="updatedBy" minOccurs="1" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:string"><xs:pattern value=".{1,100}"/></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="updatedOn" type="common:Timestamp" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriptionHistoryReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="publishsubscribe:SubscriptionHistoryReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubscriptionHistoryReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="history" type="publishsubscribe:SubscriptionHistoryItem" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriptionHistoryRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="uuid" type="common:UUID" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubscriptionListReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="publishsubscribe:SubscriptionListReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubscriptionListReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="subscriptions" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="publishsubscribe:Subscription" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriptionListRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="states" minOccurs="0" maxOccurs="1"><xs:complexType><xs:sequence><xs:element name="item" type="publishsubscribe:SubscriptionState" minOccurs="0" maxOccurs="unbounded"/></xs:sequence></xs:complexType></xs:element>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubscriptionMessageFilter" abstract="true">
    <xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriptionPauseReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="publishsubscribe:SubscriptionPauseReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubscriptionPauseReplyData" abstract="false">
    <xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriptionPauseRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="uuid" type="common:UUID" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubscriptionPayloadConfiguration" abstract="true">
    <xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriptionResumeReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="publishsubscribe:SubscriptionResumeReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubscriptionResumeReplyData" abstract="false">
    <xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriptionResumeRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="uuid" type="common:UUID" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubscriptionRetrievalReply" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Reply">
    <xs:sequence>
      <xs:element name="data" type="publishsubscribe:SubscriptionRetrievalReplyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubscriptionRetrievalReplyData" abstract="false">
    <xs:sequence>
      <xs:element name="subscription" type="publishsubscribe:Subscription" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriptionRetrievalRequest" abstract="false">
    <xs:complexContent>
      <xs:extension base="common:Request">
    <xs:sequence>
      <xs:element name="uuid" type="common:UUID" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubscriptionTechnicalMessage" abstract="false">
    <xs:complexContent>
      <xs:extension base="publishsubscribe:TechnicalPSMessage">
    <xs:sequence>
      <xs:element name="subscriptionUuid" type="common:UUID" minOccurs="1" maxOccurs="1"/>
      <xs:element name="subscriptionTopic" type="publishsubscribe:SubscriptionTopic" minOccurs="0" maxOccurs="1"/>
      <xs:element name="subscriptionDescription" minOccurs="0" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:string"><xs:pattern value=".{1,500}"/></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="subscriptionState" type="publishsubscribe:SubscriptionState" minOccurs="1" maxOccurs="1"/>
      <xs:element name="lastUpdatedBy" minOccurs="1" maxOccurs="1"><xs:simpleType><xs:restriction base="xs:string"><xs:pattern value=".{1,100}"/></xs:restriction></xs:simpleType></xs:element>
      <xs:element name="lastUpdatedOn" type="common:Timestamp" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TechnicalPSMessage" abstract="true">
    <xs:complexContent>
      <xs:extension base="publishsubscribe:PSMessage">
    <xs:sequence>
      <xs:element name="topic" type="publishsubscribe:TechnicalTopic" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AIXMDatasetMessagePayload">
    <xs:choice>
      <xs:element name="COMPLETE" type="airspace:CompleteDatasetSummary" minOccurs="1" maxOccurs="1"/>
      <xs:element name="INCREMENTAL" type="airspace:IncrementalDatasetSummary" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
</xs:schema>
